@import 'stremio-colors';
.search-form {
    height: 44px;
    display: flex;
    flex: 1;
    justify-content: center;
    .search-label {
        height: 100%;
        padding: 8px 0;
        display: flex;
        flex-direction: row;
        align-items: stretch;
        justify-content: center;
        .query-input {
            padding: 0 6px;
            height: 100%;
            width: 280px;
            outline: none;
            appearance: none;
            user-select: text;
            background-color: @colorsecondarylight80;
            color: @colorwhite80;
            font-size: 14px;
            &::placeholder {
                color: @colorwhite80;
            }
        }
        .submit-button {
            width: 28px;
            height: 28px;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            background-color: @coloraccent80;
            .submit-icon {
                width: 14px;
                height: 100%;
                fill: @colorwhite80;
            }
        }
    }
    &.active {
        @transition-time: 0.200s;
        .search-label {
            padding: 0;
            transition: padding @transition-time;
            .query-input {
                background-color: @colorbgmain;
                color: @colorwhite;
                font-size: 16px;
                transition: background-color @transition-time;
                &::placeholder {
                    color: @colorwhite;
                }
            }
            .submit-button {
                height: 44px;
                width: 44px;
                background-color: @coloraccent;
                transition: height @transition-time;
                .submit-icon {
                    width: 16px;
                    fill: @colorwhite;
                }
            }
        }
    }
}