
@import 'constants';
@label-vertical-padding: 8px;
.search-form {
    display: flex;
    justify-content: center;
    .search-label {
        padding: @label-vertical-padding 0;
        height: @nav-bar-height;
        display: flex;
        transition: padding 0.200s;
        .query-input {
            padding: 0 6px;
            width: 280px;
            height: 100%;
            outline: none;
            appearance: none;
            user-select: text;
            background-color: var(--color-secondary80);
            color: var(--color-surfacelighter80);
            font-size: 14px;
            &::placeholder {
               color: var(--color-surfacelighter80);
            }
        }
        .submit-button {
            width: calc(@nav-bar-height - 2 * @label-vertical-padding);
            height: 100%;
            cursor: pointer;
            outline: none;
            background-color: var(--color-secondarylighter80);
            .submit-icon {
                width: 14px;
                height: 100%;
                fill: var(--color-surfacelighter80);
            }
        }
    }
    &.active {
        .search-label {
            padding: 0;
            .query-input {
                background-color: var(--color-backgrounddark);
                color: var(--color-surfacelighter);
                font-size: 16px;
                &::placeholder {
                   color: var(--color-surfacelighter);
                }
            }
            .submit-button {
                width: @nav-bar-height;
               background-color: var(--color-secondarylighter);
                .submit-icon {
                    width: 16px;
                    fill: var(--color-surfacelighter);
                }
            }
        }
    }
}