.detail-container {
    --spacing: 8px;
    --action-button-width: 80px;
    --video-width: 360px;
    --stream-width: 360px;
    font-size: 12px;
}

@media screen and (max-width: 1220px) {
    .detail-container {
        --spacing: 6px;
        --action-button-width: 70px;
        --video-width: 300px;
        --stream-width: 300px;
        font-size: 10px;
    }
}

@media screen and (min-width: 1440px) {
    .detail-container {
        --spacing: 8px;
        --action-button-width: 90px;
        --video-width: 420px;
        --stream-width: 420px;
        font-size: 13px;
    }
}

@media screen and (min-width: 1680px) {
    .detail-container {
        --spacing: 10px;
        --action-button-width: 110px;
        --video-width: 480px;
        --stream-width: 480px;
        font-size: 16px;
    }
}

@media screen and (min-width: 1920px) {
    .detail-container {
        --spacing: 10px;
        --action-button-width: 140px;
        --video-width: 560px;
        --stream-width: 560px;
        font-size: 20px;
    }
}

@media screen and (min-width: 2048px) {
    .detail-container {
        --spacing: 14px;
        --action-button-width: 140px;
        --video-width: 600px;
        --stream-width: 600px;
        font-size: 20px;
    }
}

@media screen and (min-width: 2560px) {
    .detail-container {
        --spacing: 16px;
        --action-button-width: 170px;
        --video-width: 740px;
        --stream-width: 740px;
        font-size: 26px;
    }
}

@media screen and (min-width: 2880px) {
    .detail-container {
        --spacing: 20px;
        --action-button-width: 190px;
        --video-width: 800px;
        --stream-width: 800px;
        font-size: 28px;
    }
}

@media screen and (min-width: 3440px) {
    .detail-container {
        --spacing: 24px;
        --action-button-width: 240px;
        --video-width: 1100px;
        --stream-width: 1100px;
        font-size: 40px;
    }
}

// @media screen and (min-height: 700px) {
//     .detail-container {
//         --font-size: 12px;
//         --spacing: 8px;
//         --action-button-width: 90px;
//         --video-width: 360px;
//         --stream-width: 360px;
//     }
// }

// @media screen and (min-height: 800px) {
//     .detail-container {
//         --font-size: 12px;
//         --spacing: 8px;
//         --action-button-width: 100px;
//         --video-width: 360px;
//         --stream-width: 360px;
//     }
// }

.detail-container {
    position: relative;
    z-index: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    .overlay-container {
        position: absolute;
        z-index: 0;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: var(--color-backgrounddarker60);
    }

    .info-container {
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
        right: 40%;
        bottom: 0;
        padding: calc(var(--spacing) * 3);

        .logo {
            height: calc(var(--action-button-width) * 1.2);
            object-fit: contain;
        }

        .logo-error {
            display: none;
        }

        .basic-info {
            display: flex;
            flex-direction: row;
            align-items: center;
            margin: 0.6em 0;

            .duration {
                padding: 0.3em 0.6em;
                font-size: 120%;
                color: var(--color-surfacelighter);
            }

            .release-info {
                padding: 0.3em 0.6em;
                font-size: 120%;
                color: var(--color-surfacelighter);
            }

            .imdb-container {
                cursor: pointer;
                width: var(--action-button-width);
                display: flex;
                flex-direction: row;
                padding: 0.3em 0.6em;

                .imdb-logo {
                    flex: 1;
                    height: 100%;
                    margin-right: 10%;
                    fill: var(--color-surface);
                }

                .imdb-rating {
                    font-size: 120%;
                    color: var(--color-surfacelighter);
                }

                &:hover {
                    background-color: var(--color-surface40);
                }
            }
        }

        .name {
            padding: 0.3em 0;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            font-size: 160%;
            color: var(--color-surfacelighter);
        }

        .description {
            max-height: 7.5em;
            margin: 1em 0;
            overflow: hidden;
            overflow-wrap: break-word;
            line-height: 1.5;
            color: var(--color-surfacelighter);
        }

        .section-container {
            margin: 0.8em 0em;

            .title {
                margin-bottom: calc(var(--action-button-width) * 0.05);
                font-size: 120%;
                color: var(--color-surface);
            }

            .link {
                display: inline-block;
                cursor: pointer;
                padding: 0.3em 0.6em;
                font-size: 120%;
                color: var(--color-surfacelighter);

                &:hover {
                    background-color: var(--color-surface40);
                }
            }
        }

        .buttons {
            position: absolute;
            left: calc(var(--spacing) * 3);
            bottom: calc(var(--spacing) * 3);

            .button-container {
                cursor: pointer;
                width: var(--action-button-width);
                height: var(--action-button-width);
                display: inline-flex;
                flex-direction: column;
                align-items: center;
                text-align: center;

                .icon {
                    height: 30%;
                    margin: 20% 0 10% 0;
                    fill: var(--color-surfacelighter);
                }

                .label {
                    height: 40%;
                    padding: 0 calc(var(--action-button-width) * 0.1);
                    overflow-wrap: break-word;
                    overflow: hidden;
                    font-size: 110%;
                    color: var(--color-surfacelight);
                }

                &:hover {
                    background-color: var(--color-surfacedarker60);
                }
            }
        }
    }

    .videos-list {
        position: absolute;
        z-index: 2;
        top: 0;
        right: 0;
        bottom: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}