.detail-container {
    --logo-height: 90px;
    --button-width: 80px;
    --name-font-size: 20px;
    --description-font-size: 12px;
    --button-label-font-size: 13px;
    --link-font-size: 14px;
    --seasons-bar-height: 50px;
    --spacing: 8px;
    --video-width: 360px;
    --video-spacing: 8px;
    --video-title-font-size: 12px;
    --video-released-date-font-size: 11px;
    --video-label-font-size: 10px;
    --video-label-border-width: 2px;
}

@media screen and (max-width: 1220px) {
    .detail-container {
        --logo-height: 80px;
        --button-width: 70px;
        --name-font-size: 18px;
        --description-font-size: 10px;
        --button-label-font-size: 11px;
        --link-font-size: 12px;
        --seasons-bar-height: 40px;
        --spacing: 6px;
        --video-width: 300px;
        --video-spacing: 6px;
        --video-title-font-size: 10px;
        --video-released-date-font-size: 9px;
        --video-label-font-size: 8px;
        --video-label-border-width: 2px;
    }
}

@media screen and (min-width: 1440px) {
    .detail-container {
        --logo-height: 110px;
        --button-width: 90px;
        --name-font-size: 22px;
        --description-font-size: 14px;
        --button-label-font-size: 15px;
        --link-font-size: 16px;
        --seasons-bar-height: 60px;
        --spacing: 8px;
        --video-width: 420px;
        --video-spacing: 8px;
        --video-title-font-size: 13px;
        --video-released-date-font-size: 13px;
        --video-label-font-size: 12px;
        --video-label-border-width: 2px;
    }
}

@media screen and (min-width: 1680px) {
    .detail-container {
        --logo-height: 130px;
        --button-width: 110px;
        --name-font-size: 26px;
        --description-font-size: 17px;
        --button-label-font-size: 18px;
        --link-font-size: 20px;
        --seasons-bar-height: 70px;
        --spacing: 10px;
        --video-width: 480px;
        --video-spacing: 10px;
        --video-title-font-size: 16px;
        --video-released-date-font-size: 15px;
        --video-label-font-size: 14px;
        --video-label-border-width: 3px;
    }
}

@media screen and (min-width: 1920px) {
    .detail-container {
        --logo-height: 140px;
        --button-width: 140px;
        --name-font-size: 32px;
        --description-font-size: 22px;
        --button-label-font-size: 24px;
        --link-font-size: 26px;
        --seasons-bar-height: 80px;
        --spacing: 10px;
        --video-width: 560px;
        --video-spacing: 10px;
        --video-title-font-size: 20px;
        --video-released-date-font-size: 19px;
        --video-label-font-size: 18px;
        --video-label-border-width: 4px;
    }
}

@media screen and (min-width: 2048px) {
    .detail-container {
        --logo-height: 140px;
        --button-width: 140px;
        --name-font-size: 34px;
        --description-font-size: 22px;
        --button-label-font-size: 23px;
        --link-font-size: 26px;
        --seasons-bar-height: 80px;
        --spacing: 14px;
        --video-width: 600px;
        --video-spacing: 14px;
        --video-title-font-size: 20px;
        --video-released-date-font-size: 19px;
        --video-label-font-size: 18px;
        --video-label-border-width: 4px;
    }
}

@media screen and (min-width: 2560px) {
    .detail-container {
        --logo-height: 220px;
        --button-width: 170px;
        --name-font-size: 44px;
        --description-font-size: 30px;
        --button-label-font-size: 32px;
        --link-font-size: 34px;
        --seasons-bar-height: 100px;
        --spacing: 16px;
        --video-width: 740px;
        --video-spacing: 16px;
        --video-title-font-size: 26px;
        --video-released-date-font-size: 25px;
        --video-label-font-size: 22px;
        --video-label-border-width: 4px;
    }
}

@media screen and (min-width: 2880px) {
    .detail-container {
        --logo-height: 260px;
        --button-width: 190px;
        --name-font-size: 50px;
        --description-font-size: 36px;
        --button-label-font-size: 37px;
        --link-font-size: 40px;
        --seasons-bar-height: 120px;
        --spacing: 20px;
        --video-width: 800px;
        --video-spacing: 20px;
        --video-title-font-size: 28px;
        --video-released-date-font-size: 27px;
        --video-label-font-size: 26px;
        --video-label-border-width: 4px;
    }
}

@media screen and (min-width: 3440px) {
    .detail-container {
        --logo-height: 380px;
        --button-width: 240px;
        --name-font-size: 64px;
        --description-font-size: 48px;
        --button-label-font-size: 49px;
        --link-font-size: 54px;
        --seasons-bar-height: 160px;
        --spacing: 24px;
        --video-width: 1100px;
        --video-spacing: 24px;
        --video-title-font-size: 36px;
        --video-released-date-font-size: 35px;
        --video-label-font-size: 34px;
        --video-label-border-width: 8px;
    }
}

@media screen and (min-height: 700px) {
    .detail-container {
        --logo-height: 100px;
        --button-width: 90px;
        --name-font-size: 22px;
        --description-font-size: 14px;
        --button-label-font-size: 15px;
        --link-font-size: 16px;
        --seasons-bar-height: 50px;
        --spacing: 8px;
        --video-width: 360px;
        --video-spacing: 8px;
        --video-title-font-size: 12px;
        --video-released-date-font-size: 11px;
        --video-label-font-size: 10px;
        --video-label-border-width: 2px;
    }
}

@media screen and (min-height: 800px) {
    .detail-container {
        --logo-height: 110px;
        --button-width: 100px;
        --name-font-size: 24px;
        --description-font-size: 16px;
        --button-label-font-size: 17px;
        --link-font-size: 18px;
        --seasons-bar-height: 50px;
        --spacing: 8px;
        --video-width: 360px;
        --video-spacing: 8px;
        --video-title-font-size: 12px;
        --video-released-date-font-size: 11px;
        --video-label-font-size: 10px;
        --video-label-border-width: 2px;
    }
}

.detail-container {
    position: relative;
    z-index: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    .overlay-container {
        position: absolute;
        z-index: 0;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: var(--color-backgrounddarker60);
    }

    .info-container {
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
        right: 40%;
        bottom: 0;
        padding: calc(var(--spacing) * 3);

        .logo {
            height: var(--logo-height);
            object-fit: contain;
        }

        .logo-error {
            display: none;
        }

        .basic-info {
            display: flex;
            flex-direction: row;
            align-items: center;
            margin: 0.6em 0;

            .duration {
                padding: 0.3em 0.6em;
                font-size: var(--link-font-size);
                color: var(--color-surfacelighter);
            }

            .release-info {
                padding: 0.3em 0.6em;
                font-size: var(--link-font-size);
                color: var(--color-surfacelighter);
            }

            .imdb-container {
                cursor: pointer;
                width: var(--button-width);
                display: flex;
                flex-direction: row;
                padding: 0.3em 0.6em;

                .imdb-logo {
                    flex: 1;
                    height: 100%;
                    margin-right: 10%;
                    fill: var(--color-surface);
                }

                .imdb-rating {
                    font-size: var(--link-font-size);
                    color: var(--color-surfacelighter);
                }

                &:hover {
                    background-color: var(--color-surface40);
                }
            }
        }

        .name {
            padding: 0.3em 0;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            font-size: var(--name-font-size);
            color: var(--color-surfacelighter);
        }

        .description {
            max-height: 7.5em;
            margin: 1em 0;
            overflow: hidden;
            overflow-wrap: break-word;
            font-size: var(--description-font-size);
            line-height: 1.5;
            color: var(--color-surfacelighter);
        }

        .section-container {
            margin: 0.8em 0em;

            .title {
                margin-bottom: calc(0.05 * var(--button-width));
                font-size: var(--link-font-size);
                color: var(--color-surface);
            }

            .link {
                display: inline-block;
                cursor: pointer;
                padding: 0.3em 0.6em;
                font-size: var(--link-font-size);
                color: var(--color-surfacelighter);

                &:hover {
                    background-color: var(--color-surface40);
                }
            }
        }

        .buttons {
            position: absolute;
            left: calc(var(--spacing) * 3);
            bottom: calc(var(--spacing) * 3);

            .button-container {
                cursor: pointer;
                width: var(--button-width);
                height: var(--button-width);
                display: inline-flex;
                flex-direction: column;
                align-items: center;
                text-align: center;

                .icon {
                    height: 30%;
                    margin: 20% 0 10% 0;
                    fill: var(--color-surfacelighter);
                }

                .label {
                    height: 40%;
                    padding: 0 calc(0.1 * var(--button-width));
                    overflow-wrap: break-word;
                    overflow: hidden;
                    font-size: var(--button-label-font-size);
                    color: var(--color-surfacelight);
                }

                &:hover {
                    background-color: var(--color-surfacedarker60);
                }
            }
        }
    }

    .videos-list {
        position: absolute;
        z-index: 2;
        top: 0;
        right: 0;
        bottom: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}