@import (reference) '~stremio-colors/dist/less/stremio-colors.less';

.search-bar-container {
    display: flex;
    flex-direction: row;
    height: calc(var(--horizontal-nav-bar-size) * 0.7);
    border-radius: calc(var(--horizontal-nav-bar-size) * 0.7);
    background-color: @color-background-dark3;

    .search-input {
        flex: 1;
        align-self: stretch;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0 1rem;
        color: @color-secondaryvariant2-light1;
        cursor: text;

        &::placeholder, .placeholder-label {
            max-height: 1.2em;
            opacity: 1;
            color: @color-secondaryvariant2-light1;
        }
    }

    .submit-button-container {
        flex: none;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: calc(var(--horizontal-nav-bar-size) * 0.7);
        height: calc(var(--horizontal-nav-bar-size) * 0.7);

        .icon {
            flex: none;
            width: 1.5rem;
            height: 1.5rem;
            fill: @color-secondaryvariant2-light1;
        }
    }
}