.stream-placeholder-container {
    display: flex;
    flex-direction: row;
    padding: 1rem;
    background-color: var(--color-surfacedarker60);

    .addon-container, .play-icon-container {
        flex: none;
        width: 4rem;
        height: 4rem;
        background-color: var(--color-surfacedarker40);
    }

    .info-container {
        flex: 1;
        align-self: stretch;
        margin: 0 1rem;
        background-color: var(--color-surfacedarker40);
    }
}