@import (reference) '~stremio-colors/dist/less/stremio-colors.less';

.subtitles-picker-container {
    height: 24rem;
    display: flex;
    flex-direction: row;

    .languages-container, .variants-container, .subtitles-settings-container {
        flex: none;
        align-self: stretch;
        display: flex;
        flex-direction: column;

        .languages-header, .variants-header, .settings-header {
            flex: none;
            align-self: stretch;
            max-height: 2.4em;
            margin: 1rem;
            font-weight: 600;
            color: @color-surface-light5-90;
        }

        .languages-list, .variants-list {
            flex: 1;
            align-self: stretch;
            overflow-y: auto;

            .language-option, .variant-option {
                display: flex;
                flex-direction: row;
                align-items: center;
                padding: 1rem 1.5rem;

                .language-label, .variant-label {
                    flex: 1;
                    max-height: 2.4em;
                    font-size: 1.1rem;
                    color: @color-surface-light5-90;
                }

                .icon {
                    flex: none;
                    width: 0.5rem;
                    height: 0.5rem;
                    border-radius: 100%;
                    margin-left: 1rem;
                    background-color: @color-accent3;
                }
            }
        }
    }

    .languages-container {
        width: 12rem;
        background-color: @color-background-dark1;

        .language-option {
            &:global(.selected), &:hover {
                background-color: @color-background;
            }
        }
    }

    .variants-container {
        width: 12rem;
        background-color: @color-background;

        .variant-option {
            &:global(.selected), &:hover {
                background-color: @color-background-light1;
            }
        }

        .no-variants-container {
            flex: 1;
            align-self: stretch;
            padding: 1rem;

            .no-variants-label {
                max-height: 4.8em;
                font-weight: 500;
                color: @color-surface-90;
            }
        }
    }

    .subtitles-settings-container {
        width: 20rem;
        background-color: @color-background-light1;

        .spacing {
            flex: 1;
        }

        .option-header {
            flex: none;
            align-self: stretch;
            max-height: 2.4em;
            margin: 0 3rem;
            color: @color-surface-light5-90;

            &:global(.disabled) {
                color: @color-surface-90;
            }
        }

        .option-container {
            flex: none;
            align-self: stretch;
            margin: 0.5rem 3rem 1rem;
            display: flex;
            flex-direction: row;
            align-items: center;
            background: @color-background-dark1;

            &:global(.disabled) {
                opacity: 0.4;
            }

            .button-container {
                flex: none;
                width: 3rem;
                height: 3rem;
                padding: 1rem;
                background-color: @color-background-light2;

                .icon {
                    display: block;
                    width: 100%;
                    height: 100%;
                    fill: @color-surface-light5;
                }
            }

            .option-label {
                flex: 1;
                max-height: 2.4em;
                font-weight: 500;
                text-align: center;
                color: @color-surface-light5-90;
            }
        }

        .advanced-button {
            flex: none;
            align-self: flex-end;
            max-height: 2.4em;
            margin: 1rem 3rem;
            color: @color-surface-light5-90;
            text-align: right;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}