@import 'stremio-colors';

@stream-width: 360px;
@spacing: max(12px, ceil((@stream-width * 0.04)));
@progress-height: 5px;

.stream-container {
    width: @stream-width;

    .logo-container {
        margin: @spacing 0 @spacing @spacing;
    }

    .source-name {
        font-size: 13px;
        margin: @spacing 0 @spacing @spacing;
    }

    .text-container {
        min-height: ceil((@stream-width * 0.16));
        padding: @spacing;

        .title {
            font-size: 11px;
        }

        .subtitle {
            font-size: 11px;
        }

        :not(:last-child) {
            margin-bottom: (@spacing * 0.5);
        }
    }

    .play-container {
        width: floor((@stream-width * 0.08));
        padding: @spacing @spacing @spacing 0;
    }

    .progress {
        height: @progress-height;
    }
}

.stream-container {
    background-color: @colorglass;

    .flex-row-container {
        display: flex;
        flex-direction: row;
        align-items: stretch;

        .logo-container {
            flex: 1;
            display: flex;
            align-items: center;
            justify-content: center;

            .logo {
                width: 100%;
                fill: @colorwhite;
            }
        }

        .source-name {
            flex: 1;
            display: flex;
            align-items: center;
            color: @colorwhite;
            word-break: break-all; //Firefox doesn't support { break-word }
            word-break: break-word;
        }

        .text-container {
            flex: 3;
            display: flex;
            flex-direction: column;
            justify-content: center;

            .title {
                color: @colorwhite;
                word-break: break-word;
            }

            .subtitle {
                color: @colorwhite;
                word-break: break-word;
            }
        }

        .play-container {
            display: flex;
            align-items: center;

            .play {
                width: 100%;
                fill: @colorwhite;
            }
        }
    }

    .progress-container {
        background-color: @colorprim;

        .progress {
            background-color: @colorprimlight;
        }
    }

    &:hover {
        cursor: pointer;
        background-color: @colorwhite20;
    }
}