.nav-tab-button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;

    &:hover {
        background-color: var(--color-secondary);
    }

    &:global(.selected) {
        background-color: var(--color-background);
    }

    .icon {
        flex: none;
        width: 1.5rem;
        height: 1.5rem;
        margin-bottom: 0.5rem;
        fill: var(--color-surfacelighter);
    }

    .label {
        flex: none;
        max-height: 1.2em;
        font-size: 0.85rem;
        color: var(--color-surfacelighter);
    }
}