.nav-tab-button-container {
    display: flex;
    align-items: center;

    &:hover {
        background-color: var(--color-secondary);
    }

    &:global(.selected) {
        background-color: var(--color-background);
    }

    &.nav-tab-button-horizontal {
        flex-direction: row;
        padding: 0 1rem;

        .icon {
            width: 1.5rem;
            height: 1.2rem;
            margin: 0 0.5rem 0 0;
        }

        .label {
            flex: 1;
            max-height: 2.4em;
        }
    }

    &.nav-tab-button-vertical {
        flex-direction: column;
        justify-content: center;
        width: var(--vertical-nav-bar-size);
        height: var(--vertical-nav-bar-size);
        padding: 0.5rem;

        .icon {
            width: 1.5rem;
            height: 1.5rem;
            margin: 0 0 0.5rem 0;
        }

        .label {
            flex: none;
            max-height: 1.2em;
            font-size: 0.85rem;
        }
    }

    .icon {
        flex: none;
        fill: var(--color-surfacelighter);
    }

    .label {
        color: var(--color-surfacelighter);
    }
}