.nav-tab-button-container {
    display: flex;
    align-items: center;

    &:hover {
        background-color: var(--color-secondary);
    }

    &:global(.selected) {
        background-color: var(--color-background);
    }

    &.nav-tab-button-horizontal {
        flex-direction: row;
        padding: 0 1rem;

        .label {
            max-height: 2.4em;
        }
    }

    &.nav-tab-button-vertical {
        flex-direction: column;
        justify-content: center;
        height: var(--nav-bar-size);
        padding: 0.5rem;

        .icon {
            margin: 0 0 0.5rem 0;
        }

        .label {
            max-height: 1.2em;
            font-size: 0.75rem;
        }
    }

    .icon {
        flex: none;
        width: 1.5rem;
        height: 1.2rem;
        margin-right: 0.5rem;
        fill: var(--color-surfacelighter);

        &:only-child {
            margin-right: 0;
        }
    }

    .label {
        flex: 1;
        color: var(--color-surfacelighter);
    }
}