.meta-row-placeholder-container {
    .title-container {
        max-height: 2.4em;
        margin-bottom: 2rem;
        font-size: 1.5rem;
        color: var(--color-surface);

        &:empty {
            height: 1.2em;
            background: linear-gradient(to right, var(--color-placeholder) 0 40%, transparent 40% 100%);
        }
    }

    .content-container {
        display: flex;
        flex-direction: row;
        align-items: stretch;

        .meta-items-container {
            flex: 1;
            display: flex;
            flex-direction: row;
            align-items: stretch;

            .meta-item {
                flex: 1;
                margin-right: 2rem;
                background-color: var(--color-placeholder);

                .poster-container {
                    padding-bottom: calc(100% * var(--poster-shape-ratio));
                }

                .title-bar-container {
                    height: 2.8rem;
                    background-color: var(--color-placeholder);
                }
            }
        }

        .see-all-container {
            flex: none;
            background-color: var(--color-placeholder);
        }
    }
}