.slider-container {
    display: inline-block;
    position: relative;
    z-index: 0;
    min-width: var(--thumb-size);
    min-height: var(--thumb-size);
    cursor: pointer;

    .track {
        position: absolute;
        z-index: 1;
        background-color: var(--track-color);
    }

    .thumb {
        position: absolute;
        z-index: 2;
        width: var(--thumb-size);
        height: var(--thumb-size);
        border-radius: 50%;
        background-color: var(--thumb-color);
    }

    &.horizontal {
        .track {
            left: 0;
            right: 0;
            top: calc(50% - var(--thumb-size) * 0.1);
            bottom: calc(50% - var(--thumb-size) * 0.1);
        }

        .thumb {
            transform: translateX(-50%);
            top: calc(50% - var(--thumb-size) * 0.5);
        }
    }

    &.vertical {
        .track {
            left: calc(50% - var(--thumb-size) * 0.1);
            right: calc(50% - var(--thumb-size) * 0.1);
            top: 0;
            bottom: 0;
        }

        .thumb {
            transform: translateY(50%);
            left: calc(50% - var(--thumb-size) * 0.5);
        }
    }
}