{
    "extends": [
        "eslint:recommended",
        "plugin:react/recommended"
    ],
    "settings": {
        "react": {
            "version": "detect"
        }
    },
    "globals": {
        "YT": "readonly",
        "FB": "readonly"
    },
    "env": {
        "commonjs": true,
        "browser": true,
        "es6": true
    },
    "parserOptions": {
        "ecmaVersion": 9,
        "ecmaFeatures": {
            "jsx": true
        }
    },
    "ignorePatterns": [
        "/*",
        "!/src",
        "src/routes/Settings",
        "src/routes/Player",
        "src/video"
    ],
    "rules": {
        "arrow-parens": "error",
        "arrow-spacing": "error",
        "block-spacing": "error",
        "comma-spacing": "error",
        "eol-last": "error",
        "eqeqeq": "error",
        "func-call-spacing": "error",
        "indent": [
            "error",
            4,
            {
                "SwitchCase": 1
            }
        ],
        "no-console": "error",
        "no-extra-semi": "error",
        "no-eq-null": "error",
        "no-multi-spaces": "error",
        "no-multiple-empty-lines": [
            "error",
            {
                "max": 1
            }
        ],
        "no-template-curly-in-string": "error",
        "no-trailing-spaces": "error",
        "no-useless-concat": "error",
        "no-unreachable": "error",
        "no-unused-vars": "error",
        "prefer-const": "error",
        "quotes": [
            "error",
            "single"
        ],
        "quote-props": [
            "error",
            "as-needed",
            {
                "unnecessary": false
            }
        ],
        "semi": "error",
        "semi-spacing": "error",
        "space-before-blocks": "error",
        "valid-typeof": [
            "error",
            {
                "requireStringLiterals": true
            }
        ]
    },
    "overrides": [
        {
            "files": [
                "src/routes/Intro/Intro.js",
                "src/routes/Addons/useAddons.js",
                "src/routes/Board/useItemOptions.js",
                "src/common/NavBar/NavMenu/NavMenu.js",
                "src/routes/Library/useItemOptions.js",
                "src/common/Multiselect/Multiselect.js",
                "src/common/NavBar/NotificationsMenu/NotificationsMenu.js"
            ],
            "rules": {
                "no-unused-vars": "off"
            }
        },
        {
            "files": [
                "src/common/NavBar/NavMenu/NavMenu.js"
            ],
            "rules": {
                "quotes": "off"
            }
        },
        {
            "files": [
                "src/services/Shell/Shell.js",
                "src/services/Core/Core.js"
            ],
            "rules": {
                "prefer-const": "off"
            }
        }
    ]
}