{
  "extends": ["eslint:recommended", "plugin:react/recommended", "prettier"],
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "globals": {
    "YT": "readonly",
    "FB": "readonly",
    "cast": "readonly",
    "chrome": "readonly"
  },
  "env": {
    "node": true,
    "commonjs": true,
    "browser": true,
    "es6": true
  },
  "parserOptions": {
    "ecmaVersion": 11,
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "ignorePatterns": ["/*", "!/src"],
  "rules": {
    "eqeqeq": "error",
    "no-console": [
      "error",
      {
        "allow": ["warn", "error"]
      }
    ],
    "no-eq-null": "error",
    "no-prototype-builtins": "off",
    "no-template-curly-in-string": "error",
    "no-useless-concat": "error",
    "no-unreachable": "error",
    "no-unused-vars": [
      "error",
      {
        "varsIgnorePattern": "_"
      }
    ],
    "prefer-const": "error",
    "valid-typeof": [
      "error",
      {
        "requireStringLiterals": true
      }
    ]
  }
}
