{
    "extends": [
        "eslint:recommended",
        "plugin:react/recommended"
    ],
    "settings": {
        "react": {
            "version": "detect"
        }
    },
    "globals": {
        "YT": "readonly",
        "FB": "readonly",
        "cast": "readonly",
        "chrome": "readonly"
    },
    "env": {
        "node": true,
        "commonjs": true,
        "browser": true,
        "es6": true
    },
    "parserOptions": {
        "ecmaVersion": 11,
        "ecmaFeatures": {
            "jsx": true
        }
    },
    "ignorePatterns": [
        "/*",
        "!/src"
    ],
    "rules": {
        "arrow-parens": "error",
        "arrow-spacing": "error",
        "block-spacing": "error",
        "comma-spacing": "error",
        "eol-last": "error",
        "eqeqeq": "error",
        "func-call-spacing": "error",
        "indent": [
            "error",
            4,
            {
                "SwitchCase": 1
            }
        ],
        "no-console": [
            "error",
            {
                "allow": [
                    "warn",
                    "error"
                ]
            }
        ],
        "no-extra-semi": "error",
        "no-eq-null": "error",
        "no-multi-spaces": "error",
        "no-multiple-empty-lines": [
            "error",
            {
                "max": 1
            }
        ],
        "no-prototype-builtins": "off",
        "no-template-curly-in-string": "error",
        "no-trailing-spaces": "error",
        "no-useless-concat": "error",
        "no-unreachable": "error",
        "no-unused-vars": [
            "error",
            {
                "varsIgnorePattern": "_"
            }
        ],
        "prefer-const": "error",
        "quotes": [
            "error",
            "single"
        ],
        "quote-props": [
            "error",
            "as-needed",
            {
                "unnecessary": false
            }
        ],
        "semi": "error",
        "semi-spacing": "error",
        "space-before-blocks": "error",
        "valid-typeof": [
            "error",
            {
                "requireStringLiterals": true
            }
        ]
    }
}