.streams-list-container {
    --scroll-container-width: 392px;
    --spacing: 8px;
}

.streams-list-container {
    height: 100%;
    display: inline-flex;
    flex-direction: column;
    background: var(--color-background);

    .scroll-container {
        flex: 1;
        position: relative;
        width: var(--scroll-container-width);
        margin: var(--spacing);
        overflow-y: auto;
        overflow-x: hidden;

        .streams-list {
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            padding: 0 calc(2 * var(--spacing));

            >:not(:first-child) {
                margin-top: var(--spacing);
            }
        }
    }

    .button {
        width: calc(0.4 * var(--scroll-container-width));
        height: calc(0.12 * var(--scroll-container-width));
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: calc(4 * var(--spacing)) auto;
        color: var(--color-primary);
        background-color: var(--color-surfacelighter);

        .button-icon {
            width: 12%;
            margin-right: var(--spacing);
            fill: var(--color-primary);
        }
    }

    .scroll-container::-webkit-scrollbar {
        width: var(--spacing);
    }

    .scroll-container::-webkit-scrollbar-thumb {
        background-color: var(--color-secondarylighter80);
    }

    .scroll-container::-webkit-scrollbar-track {
        background-color: var(--color-backgroundlight);
    }
}