.seasons-bar-placeholder-container {
    display: flex;
    flex-direction: row;

    .prev-season-button, .next-season-button {
        flex: none;
        width: 4rem;
        height: 4rem;
        padding: 1rem;
        background-color: var(--color-surfacedarker80);

        .icon {
            display: block;
            width: 100%;
            height: 100%;
            fill: var(--color-surfacedark20);
        }
    }

    .seasons-popup-label-container {
        flex: 1;
        align-self: stretch;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin: 0 1rem;
        background-color: var(--color-surfacedarker80);

        .seasons-popup-label {
            flex-basis: 60%;
            height: 1.4rem;
            background-color: var(--color-surfacedark20);
        }
    }
}