.seasons-bar-placeholder-container {
    display: flex;
    flex-direction: row;
    padding: 0.5rem;
    background-color: var(--color-surfacedarker60);

    .prev-season-button, .next-season-button {
        flex: none;
        width: 4rem;
        height: 4rem;
        background-color: var(--color-surfacedarker40);
    }

    .seasons-popup-label-container {
        flex: 1;
        margin: 0 0.5rem;
        background-color: var(--color-surfacedarker40);
    }
}