.seek-bar-container {
    display: flex;
    flex-direction: row;
    align-items: center;

    &:hover, &:global(.active) {
        .slider {
            --track-before-color: var(--color-primarylight);
            --thumb-color: var(--color-surfacelighter);
        }
    }

    .label {
        flex: none;
        max-width: 5rem;
        max-height: 2.4em;
        color: var(--color-surfacelighter);
    }

    .slider {
        --thumb-size: var(--seek-bar-thumb-size);
        --track-size: var(--seek-bar-track-size);
        --track-before-color: var(--color-primary);
        --track-color: var(--color-backgroundlighter);
        --thumb-color: transparent;
        flex: 1;
        align-self: stretch;
        margin: 0 var(--seek-bar-thumb-size);

        &:global(.disabled) {
            --track-color: var(--color-surfacedark);
        }
    }
}