.route {
    position: relative;
    z-index: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;

    .route-content {
        width: 100%;
        height: 100%;
    }

    .modals-container {
        width: 0;
        height: 0;

        >:global(.modal-container) {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: 1;
        }
    }

    &:not(:last-child) {
        display: none;
    }
}