.route {
    position: relative;
    z-index: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;

    .route-content {
        width: 100%;
        height: 100%;
    }

    &:not(:last-child) {
        display: none;
    }
}