.volume-bar-container {
    display: flex;
    flex-direction: row;
    align-items: center;

    .slider {
        --thumb-size: var(--volume-bar-thumb-size);
        --track-size: calc(var(--volume-bar-thumb-size) * 0.2);
        --thumb-color: var(--color-surfacelight);
        --track-color: var(--color-surfacelight);
        flex: 1;
        align-self: stretch;
    }

    &:hover, &.active {
        .slider {
            --thumb-color: var(--color-surfacelighter);
            --track-color: var(--color-surfacelighter);
        }
    }
}