.volume-bar-container {
    display: flex;
    flex-direction: row;
    align-items: center;

    .slider {
        --track-size: var(--volume-bar-track-size);
        --track-color: var(--color-surfacelight);
        --track-before-color: var(--color-primary);
        flex: 1;
        align-self: stretch;
    }

    &:hover, &.active {
        .slider {
            --track-color: var(--color-surfacelighter);
        }
    }
}