@import (reference) '~stremio-colors/dist/less/stremio-colors.less';

.videos-list-container {
    display: flex;
    flex-direction: column;
    background-color: @color-background-dark3-80;

    .seasons-bar, .message-container {
        flex: none;
        width: var(--item-size);
    }

    .seasons-bar {
        padding: 1rem 0;
    }

    .message-container {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 2rem;
        background-color: @color-background-dark3-80;

        .image {
            flex: none;
            margin-bottom: 1rem;
        }

        .label {
            flex: 0 1 auto;
            font-size: 1.4rem;
            text-align: center;
            color: @color-surface-light5-90;
        }
    }

    .search-container {
        padding: 0 1.5rem 1rem 1.5rem;
        background-color: @color-background-dark3-80;

        &:first-child {
            padding-top: 1rem;
        }

        .search-bar-container {
            display: flex;
            flex-direction: row;
            align-items: center;
            height: 3.5rem;
            padding: 0 1rem;
            border-radius: 2.3rem;
            border: var(--focus-outline-size) solid transparent;
            background-color: @color-background-dark1;
            cursor: text;

            &:hover, &:focus-within {
                background-color: @color-background;
            }

            &:focus-within {
                border: var(--focus-outline-size) solid @color-surface-light5;
            }

            .search-input {
                flex: 1;
                margin-right: 1rem;
                font-size: 1.1rem;
                color: @color-surface-light5;

                &::placeholder {
                    max-height: 1.2em;
                    opacity: 1;
                    color: @color-secondaryvariant1-light1-90;
                }
            }

            .icon {
                flex: none;
                width: 1.5rem;
                height: 1.5rem;
                fill: @color-secondaryvariant1;
            }

        }
    }

    .videos-scroll-container {
        flex: 1;
        align-self: stretch;
        overflow-y: auto;

        .video {
            width: var(--item-size);
        }
    }
}