@import (reference) '~stremio-colors/dist/less/stremio-colors.less';

.videos-list-container {
    display: flex;
    flex-direction: column;

    .message-container {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: var(--item-size);
        padding: 2rem;
        overflow-y: auto;

        .image {
            flex: none;
            width: 10rem;
            height: 10rem;
            max-width: 100%;
            margin-bottom: 1rem;
            object-fit: contain;
            object-position: center;
            opacity: 0.9;
        }

        .label {
            flex: none;
            font-size: 1.4rem;
            text-align: center;
            color: @color-secondaryvariant2-light1-90;
        }
    }

    .seasons-bar {
        flex: none;
        align-self: stretch;
        min-width: var(--item-size);
    }

    .search-bar-container {
        flex: none;
        align-self: stretch;
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 3.5rem;
        min-width: calc(var(--item-size) - 3rem);
        padding: 0 1rem;
        margin: 0 1.5rem 1rem 1.5rem;
        border-radius: 3.5rem;
        border: var(--focus-outline-size) solid transparent;
        background-color: @color-background;
        cursor: text;

        &:first-child {
            margin-top: 1rem;
        }

        &:hover, &:focus-within {
            background-color: @color-background-light1;
        }

        &:focus-within {
            border: var(--focus-outline-size) solid @color-surface-light5;
        }

        .search-input {
            flex: 1;
            margin-right: 1rem;
            font-size: 1.1rem;
            color: @color-surface-light5;

            &::placeholder {
                max-height: 1.2em;
                opacity: 1;
                color: @color-secondaryvariant1-light1-90;
            }
        }

        .icon {
            flex: none;
            width: 1.5rem;
            height: 1.5rem;
            fill: @color-secondaryvariant1-90;
        }
    }

    .videos-scroll-container {
        flex: 1;
        overflow-y: auto;

        .video {
            width: var(--item-size);
        }
    }
}