.seasons-bar-placeholder-container {
    display: flex;
    flex-direction: row;
    padding: 1rem;

    .prev-season-button, .next-season-button {
        flex: none;
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 6.5rem;
        height: 3.5rem;
        padding: 0.5rem;
        background-color: var(--color-placeholder-background);

        &>:first-child {
            margin-right: 0.5rem;
        }

        .icon {
            display: block;
            width: 1.5rem;
            height: 1.5rem;
            fill: var(--color-placeholder-background);
        }

        .label {
            flex: 1;
            height: 1.2em;
            background-color: var(--color-placeholder-background);
        }
    }

    .seasons-popup-label-container {
        flex: 1;
        align-self: stretch;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 1rem;
        background-color: var(--color-placeholder-background);

        .seasons-popup-label {
            width: 50%;
            height: 1.2rem;
            background-color: var(--color-placeholder-background);
        }
    }
}