@import (reference) '~stremio-colors/dist/less/stremio-colors.less';

.meta-row-container {
    overflow: visible;

    .title-container {
        max-height: 2.4em;
        padding: 0 1rem;
        margin-bottom: 2rem;
        font-size: 1.5rem;
        color: @color-secondaryvariant2-light1;
    }

    .message-container {
        max-height: 3.6em;
        padding: 0 1rem;
        font-size: 1.3rem;
        color: @color-secondaryvariant2-light1;
    }

    .content-container {
        display: flex;
        flex-direction: row;
        align-items: stretch;
        overflow: visible;

        .meta-items-container {
            flex: 1;
            display: flex;
            flex-direction: row;
            align-items: stretch;
            overflow: visible;

            .meta-item {
                margin-right: 2rem;

                &.poster-shape-poster {
                    flex: calc(1 / var(--poster-shape-ratio));
                }

                &.poster-shape-square {
                    flex: 1;
                }

                &.poster-shape-landscape {
                    flex: calc(1 / var(--landscape-shape-ratio));
                }
            }
        }

        .see-all-container {
            flex: none;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            margin: 1rem;
            background-color: @color-background-light1;

            &:hover, &:focus {
                background-color: @color-background-light3;
            }

            .label {
                flex-grow: 0;
                flex-shrink: 1;
                flex-basis: auto;
                max-height: 2.4em;
                font-size: 1.2rem;
                text-align: center;
                color: @color-surface-light5;
            }

            .icon {
                flex: none;
                width: 1.3rem;
                height: 1.3rem;
                margin-left: 0.3rem;
                fill: @color-surface-light5;
            }
        }
    }
}