
.library-item {
    width: 90%;
    display: flex;
    padding: 8px;
    align-items: center;
//    color: @colorwhite60;
    font-family: LatoLight;
//    border-top: 1px solid @colorwhite20;
    .poster {
        width: 75px;
        display: flex; 
        height: 110px;
        margin-right: 20px;
        background-size: cover;
        background-position: center;
        .play-container {
            width: 52px;
            height: 52px;
            margin: auto;
            cursor: pointer;
            border-radius: 50%;
            padding: 16px 19px;
            .play {
                width: 20px;
                height: 20px;
//                fill: @colortransparent;
            }
        }
    }
    .title {
        width: 170px;
//        color: @colorwhite;
    }
    .type, .year, .views, .hours {
        width: 100px;
    }
    .date-added, .last-viewed {
        width: 130px;
    }
    .icon-container {
        width: 100px;
        height: 100px;
//        fill: @colorprim;
//        color: @colorprim;
        padding-top: 24px;
        text-align: center;
        visibility: hidden;
        .trailer-icon {
            width: 22px;
        }
        .addlib-icon {
            width: 34px;
        }
    }
    &:hover, &:focus {
//        color: @colorblack;
//        background-color: @colorwhite;
        .play-container {
//            background-color: @colorwhite;
            .play { 
//                fill: @colormedium;
            }
        } 
        .title {
//            color: @colorblack;
        }
        .icon-container {
            cursor: pointer;
            visibility: visible;
            &:hover, &:focus {
//                background-color: @colorblack20;
                .trailer-icon, .addlib-icon, .trailer, .addlib {
//                    fill: @colorprimdark;
//                    color: @colorprimdark;
                }
            }
        }
    }
}