.password-reset-modal-container {
    .message {
        margin-bottom: 1rem;
    }

    .text-input {
        width: 20rem;
        padding: 0.5rem;
        background-color: var(--color-surface40);

        &:hover, &:focus {
            background-color: var(--color-surface60);
        }
    }

    .error-message {
        margin: 1rem 0;
        text-align: center;
        color: var(--color-signal2);
    }

    .cancel-button {
        background-color: var(--color-surfacedark);
    }
}