@import (reference) '~stremio-colors/dist/less/stremio-colors.less';

.password-reset-modal-container {
    .credentials-text-input {
        width: 25rem;
        padding: 1rem;
        border: thin solid @color-surface-dark1-90;
    }

    .error-message {
        font-size: 1.1rem;
        margin-top: 2rem;
        text-align: center;
        color: @color-accent2-90;
    }

    .cancel-button {
        background-color: @color-surface-dark1;

        &:hover {
            background-color: @color-surface;
        }
    }
}