.nav-bar-container {
    --nav-bar-size: 4.4rem;
    width: var(--nav-bar-size);
    padding: 1rem 0;
    background-color: var(--color-backgroundlighter);
    overflow-y: auto;
    scrollbar-width: none;

    &::-webkit-scrollbar {
        display: none;
    }
}