.user-menu {
    --user-menu-width: 280px;
    font-size: 14px;
}

.user-menu-button {
    text-align: center;
    overflow: hidden;
    cursor: pointer;

    &:hover, &:focus {
        background-color: var(--color-backgrounddark20);
    }

    .icon {
        height: 100%;
        fill: var(--color-surfacelighter);

        &.user-icon {
            width: 40%;
        }

        &.arrow-icon {
            width: 16%;
        }
    }
}

.user-menu-modal-container {
    --box-shadow: -0.6em .6em .5em -0.1em var(--color-backgrounddark40);

    .user-menu {
        width: var(--user-menu-width);
        background-color: var(--color-background);

        .user-info {
            display: grid;
            width: 100%;
            height: 6em;
            grid-template-columns: 6em 1fr;
            grid-template-rows: 50% 50%;
            grid-template-areas:
                "avatar email"
                "avatar login-logout-button";

            .avatar {
                grid-area: avatar;
                padding: 0.8em;
                border-radius: 50%;
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center;
                background-origin: content-box;
                background-clip: content-box;
            }

            .email-container {
                grid-area: email;
                display: flex;
                flex-direction: row;
                align-items: center;
                padding: 0.8em 0.8em 0 0;
                color: var(--color-surfacelighter);
                overflow: hidden;
            }

            .login-logout-button {
                grid-area: login-logout-button;
                display: flex;
                flex-direction: row;
                align-items: center;
                padding: 0 0.8em 0.8em 0;
                color: var(--color-surface);
                overflow: hidden;
                cursor: pointer;

                &:hover {
                    color: var(--color-surfacelighter);
                }
            }

            .email-container, .login-logout-button {
                .user-info-label {
                    flex: 1;
                    max-height: 100%;
                    line-height: 1.1em;
                    word-break: break-all;
                    overflow: hidden;
                }
            }
        }

        .user-menu-section {
            width: 100%;
            border-top: calc(0.5 * var(--focusable-border-size)) solid var(--color-surfacedark80);

            .option {
                width: 100%;
                height: 4em;
                display: flex;
                flex-direction: row;
                align-items: center;
                cursor: pointer;

                &:hover {
                    background-color: var(--color-backgroundlighter);
                }

                .option-icon {
                    width: 4em;
                    height: 4em;
                    padding: 1.3em;
                    fill: var(--color-secondarylight);
                }

                .option-label {
                    flex: 1;
                    padding-right: 1.3em;
                    max-height: 2.2em;
                    line-height: 1.1em;
                    color: var(--color-surfacelighter);
                    word-break: break-all;
                    overflow: hidden;

                    &:only-child {
                        padding-left: 1.3em;
                    }
                }
            }
        }
    }
}