@import 'stremio-colors';
@import 'constants';
.popup-label-container {
    cursor: pointer;
    outline: none;
    background-color: transparent;
    .icon {
        height: @nav-bar-height;
        fill: @colorwhite80
    }
    .user-icon {
        width: 40%;
    }
    .arrow-icon {
        width: 16%;
    }
    &:hover, &.active {
        background-color: @colordarkest20;
        .icon {
            fill: @colorwhite;
        }
    }
}