.user-menu-button {
    text-align: center;
    overflow: hidden;
    cursor: pointer;

    &:hover, &:focus {
        background-color: var(--color-backgrounddark20);
    }

    .icon {
        height: 100%;
        fill: var(--color-surfacelighter);

        &.user-icon {
            width: 40%;
        }

        &.arrow-icon {
            width: 16%;
        }
    }
}