.search-label {
    display: inline-flex;
    flex-direction: row;
    align-items: stretch;
    background-color: var(--color-secondary60);

    &:hover {
        background-color: var(--color-secondary);

        .submit-button {
            background-color: var(--color-secondarylight);
        }
    }

    &:global(.active) {
        background-color: var(--color-background);

        .submit-button {
            background-color: var(--color-secondarylight);
        }
    }

    .search-input {
        flex: 1;
        padding: 0 0.8em;
        color: var(--color-surfacelighter);

        &::placeholder {
            color: var(--color-surfacelighter);
        }
    }

    .submit-button {
        flex: none;
        width: var(--nav-bar-height);
        height: var(--nav-bar-height);
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        background-color: var(--color-secondarylight60);
        cursor: pointer;

        .submit-icon {
            flex: none;
            width: 1.1em;
            height: 1.1em;
            fill: var(--color-surfacelighter);
        }
    }
}