@import (reference) '~stremio/common/screen-sizes.less';

.library-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: var(--color-background);

    .nav-bar {
        flex: none;
        align-self: stretch;
    }

    .library-content {
        flex: 1;
        align-self: stretch;
        display: grid;
        grid-template-columns: 1fr auto;
        grid-template-rows: auto 1fr;
        grid-template-areas:
            "dropdowns-area switch-view-area"
            "meta-items-area meta-items-area";

        .dropdowns-container {
            grid-area: dropdowns-area;
            display: flex;
            flex-direction: row;
            margin: 2rem;
            overflow: visible;

            .dropdown {
                flex-grow: 0;
                flex-shrink: 1;
                flex-basis: 15rem;
                height: 3rem;

                &:not(:last-child) {
                    margin-right: 1rem;
                }
            }
        }

        .meta-items-container {
            grid-area: meta-items-area;
            display: grid;
            grid-auto-rows: max-content;
            grid-gap: 1.5rem;
            align-items: center;
            padding: 0 2rem;
            overflow-y: auto;
        }
    }
}

@media only screen and (min-width: @xxlarge) {
    .library-container {
        .library-content {
            .meta-items-container {
                grid-template-columns: repeat(10, 1fr);
            }
        }
    }
}

@media only screen and (max-width: @xxlarge) {
    .library-container {
        .library-content {
            .meta-items-container {
                grid-template-columns: repeat(9, 1fr);
            }
        }
    }
}

@media only screen and (max-width: @normal) {
    .library-container {
        .library-content {
            .meta-items-container {
                grid-template-columns: repeat(8, 1fr);
            }
        }
    }
}

@media only screen and (max-width: @medium) {
    .library-container {
        .library-content {
            .meta-items-container {
                grid-template-columns: repeat(7, 1fr);
            }
        }
    }
}

@media only screen and (max-width: @small) {
    .library-container {
        .library-content {
            .meta-items-container {
                grid-template-columns: repeat(6, 1fr);
            }
        }
    }
}

@media only screen and (max-width: @xsmall) {
    .library-container {
        .library-content {
            .meta-items-container {
                grid-template-columns: repeat(5, 1fr);
            }
        }
    }
}