.root-container {
    width: 100%;
    height: 100%;
    color: var(--color-surfacelighter);
    // line-height: 100vh;
    // text-align: center;
    button {
        color: var(--color-surfacelighter);
        background-color: var(--color-primarydark);
        padding: .5rem;
        margin: .5rem;

    }
}

.toasts-container {
    width: 30rem;
    pointer-events: none;
    left: auto !important;
}