.seasons-bar-container {
    display: flex;
    flex-direction: row;

    .prev-season-button, .next-season-button {
        flex: none;
        background-color: var(--color-surfacedarker60);

        &:hover {
            background-color: var(--color-surfacedarker);
        }

        .icon {
            display: block;
            width: 2rem;
            height: 2rem;
            margin: 1rem;
            fill: var(--color-surfacelighter);
        }
    }

    .seasons-popup-label-container {
        flex: 1;
        align-self: stretch;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 1rem;
        background-color: var(--color-surfacedarker60);

        &:hover, &:global(.active) {
            background-color: var(--color-surfacedarker);
        }

        .season-label, .number-label {
            flex: none;
            max-width: 50%;
            max-height: 3.6em;
            padding: 0 0.2rem;
            color: var(--color-surfacelighter);
        }
    }
}