.checkbox-label-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;

    .checkbox {
        margin-right: calc(var(--spacing) * 0.5);
        width: var(--spacing);
        height: var(--spacing);
        fill: var(--color-surface);

        &:global(.checked) {
            fill: var(--color-surfacelight);
            background-color: var(--color-primary);
        }
    }

    .label {
        line-height: 1.2em;
        color: var(--color-surface);
    }

    .link {
        line-height: 1.2em;
        color: var(--color-surfacelight);
    }

    &:focus-within, &:hover {
        .checkbox {
            fill: var(--color-surfacelighter);
        }

        .label {
            color: var(--color-surfacelight);
        }

        .link {
            color: var(--color-surfacelighter);
        }
    }
}