@import 'stremio-colors';

@user-panel-width: 260px;
@spacing: max(16px, ceil((@user-panel-width * 0.06)));

.user-panel {
    width: @user-panel-width;

    .user-info {
        grid-template-columns: round((@user-panel-width * 0.2)) auto;
        grid-template-rows: round((@user-panel-width * 0.1)) round((@user-panel-width * 0.1));
        padding: @spacing;
    }

    .option {
        padding: @spacing;

        .icon {
            width: floor((@user-panel-width * 0.08));
            height: floor((@user-panel-width * 0.08));
            margin-right: @spacing;
        }
    }

    .options {
        padding: @spacing 0;
    }

    .footer {
        padding: @spacing 0;

        .label {
            padding: round((@spacing * 0.6)) (2 * round((@spacing * 0.6)));
        }
    }

    >:not(:last-child) {
        border-bottom-width: 1px;
    }
}

.user-panel {
    background-color: @colordarkest;

    .user-info {
        display: grid;
        grid-template-areas:
            "avatar email"
            "avatar logout";

        .avatar {
            grid-area: avatar;
            border-radius: 50%;
            background-size: cover, auto;
            background-position: center;
            background-repeat: no-repeat;
        }

        .email {
            grid-area: email;
            align-self: center;
            color: @colorwhite;
            margin-left: @spacing;
            overflow: hidden;
            white-space: pre;
            text-overflow: ellipsis;
        }

        .log-out {
            grid-area: logout;
            align-self: center;
            color: @colorneutral;
            margin-left: @spacing;

            &:hover {
                cursor: pointer;
                color: @colorwhite;
            }
        }
    }

    .option {
        display: flex;
        align-items: center;
        color: @colorwhite80;

        .icon {
            fill: @coloraccent;
        }

        &:hover {
            cursor: pointer;
            color: @colorwhite;
            background-color: @coloraccent20;
        }
    }

    .footer {
        display: flex;
        flex-direction: column;

        .label {
            color: @colorwhite80;

            &:hover {
                cursor: pointer;
                color: @colorwhite;
                background-color: @coloraccent20;
            }
        }
    }

    >:not(:last-child) {
        border-bottom-style: solid;
        border-bottom-color: @colorneutral;
    }
}