@import 'stremio-colors';

.user-panel {
    --user-panel-width: 260px;
    --spacing: 16px;
    --separator-height: 1px;
}

.user-panel {
    width: var(--user-panel-width);
    background-color: var(--color-background);

    .user-info {
        display: grid;
        padding: var(--spacing);
        grid-template-columns: calc(0.2 * var(--user-panel-width)) auto;
        grid-template-rows: calc(0.1 * var(--user-panel-width)) calc(0.1 * var(--user-panel-width));
        grid-template-areas:
            "avatar email"
            "avatar login-logout";

        .avatar {
            grid-area: avatar;
            border-radius: 50%;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        }

        .email {
            grid-area: email;
            display: flex;
            align-items: center;
            color: var(--color-surfacelighter);
            padding-left: var(--spacing);
            overflow: hidden;
            white-space: pre;
            text-overflow: ellipsis;
        }

        .login-logout {
            grid-area: login-logout;
            display: flex;
            align-items: center;
            color: var(--color-surface);
            padding-left: var(--spacing);
            overflow: hidden;
            white-space: pre;
            text-overflow: ellipsis;

            &:hover {
                cursor: pointer;
               color: var(--color-surfacelighter);
            }
        }
    }

    .option {
        display: flex;
        align-items: center;
        padding: var(--spacing);
        color: var(--color-surfacelighter80);

        .icon {
            width: calc(var(--user-panel-width) * 0.08);
            height: calc(var(--user-panel-width) * 0.08);
            margin-right: var(--spacing);
            fill: var(--color-secondarylighter);
        }

        &:hover {
            cursor: pointer;
            color: var(--color-surfacelighter);
            background-color: var(--color-secondarylighter20);
        }
    }

    .separator {
        height: var(--separator-height);
        background-color: var(--color-surface);
    }
}