.button-container {
    --spatial-navigation-action: focus;
    cursor: pointer;

    &:focus {
        outline-offset: calc(-1 * var(--focus-outline-size));
        outline: var(--focus-outline-size) solid var(--color-surfacelighter);
    }

    &:global(.disabled) {
        pointer-events: none;
    }
}