@import 'stremio-colors';

@video-width: 340px;
@play-width: ceil((@video-width * 0.13));
@progress-height: 3px;

.video-container {
    width: @video-width;

    .video {
        min-height: round((@video-width * 0.2));

        .poster {
            height: round((@video-width * 0.14));
        }

        .title {
            font-size: 12px;
        }

        .released-date {
            font-size: 11px;
        }

        .watched-label, .upcoming-label {
            font-size: 10px;
            border-radius: 2px;
        }

        .play-container {
            height: @play-width;
            width: @play-width;
        }
    }

    .progress {
        height: @progress-height;
    }
}

.video-container {
    margin: 10px; //remove
    background-color: @colorblack20;

    .video {
        display: flex;
        align-items: center;
        justify-content: space-around;

        .poster {
            width: 20%;
            background-position: center;
            background-size: cover, auto;
            background-repeat: no-repeat;
        }

        .text-container {
            padding: 2% 0%;

            .title {
                color: @colorwhite;
                word-break: break-word;
            }

            .released-date {
                color: @colorwhite60;
            }

            .label-container {
                display: flex;
                justify-content: space-between;

                .watched-label, .upcoming-label {
                    padding: 0% 3%;
                    font-weight: 600;
                    color: @colorwhite;
                }

                .watched-label {
                    background-color: @colorprimlight;
                }

                .upcoming-label {
                    background-color: @colorsignal5;
                }
            }
        }

        .play-container {
            display: flex;
            transform: rotate(180deg);

            .play {
                width: 38%;
                height: 38%;
                margin: auto;
                fill: @colorwhite60;
            }
        }
    }

    .progress-container {
        background-color: @colorwhite20;

        .progress {
            background-color: @colorprimlight;
        }
    }

    &:hover {
        cursor: pointer;
        background-color: @colorwhite20;
    }
}