.install-addon-dialog {
    --addon-dialog-width: 450px;
    --spacing: 16px;
    font-size: 13px;
}

.install-addon-dialog {
    padding: calc(var(--spacing) * 0.6);
    width: var(--addon-dialog-width);
    background-color: var(--color-surfacelighter);

    .x-container {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;

        .icon {
            padding: 0.3em;
            width: 1.5em;
            height: 1.5em;
            fill: var(--color-surfacedark);
            cursor: pointer;

            &:hover {
                fill: var(--color-surface);
            }
        }

        &:focus {
            .icon {
                background-color: var(--color-surfacelight);
            }
        }

        &:hover {
            .icon {
                background-color: transparent;
            }
        }
    }

    .info-container {
        padding: 0 var(--spacing) var(--spacing) var(--spacing);

        .install-label {
            font-size: 1.2em;
            font-weight: 500;
            color: var(--color-backgrounddarker);
        }

        .basic-info {
            display: flex;
            flex-direction: row;

            .logo-container {
                margin-right: var(--spacing);
                width: 4em;
                height: 4em;

                .logo {
                    width: 100%;
                    height: 100%;
                }
            }

            .header-container {
                flex: 1;
                display: flex;
                flex-direction: row;
                align-items: center;
                overflow: hidden;

                .header {
                    width: 100%;
                    display: flex;
                    flex-direction: row;
                    align-items: baseline;

                    .name {
                        margin-right: var(--spacing);
                        max-width: 10em;
                        font-size: 1.5em;
                        font-weight: 100;
                        overflow: hidden;
                        white-space: pre;
                        text-overflow: ellipsis;
                        color: var(--color-backgrounddarker);
                    }

                    .version {
                        flex: 1;
                        font-weight: 100;
                        overflow: hidden;
                        white-space: pre;
                        text-overflow: ellipsis;
                        color: var(--color-backgrounddarker);
                    }
                }
            }
        }

        .types {
            min-height: 1.2em;
            font-weight: 100;
            overflow: hidden;
            white-space: pre;
            text-overflow: ellipsis;
            color: var(--color-backgrounddarker);
        }

        .description {
            font-weight: 100;
            overflow: hidden;
            overflow-wrap: break-word;
            color: var(--color-backgrounddarker);
        }

        .notice {
            padding: 0.5em 0;
            font-weight: 100;
            font-style: italic;
            color: var(--color-backgrounddarker);
        }

        .buttons {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;

            .button {
                flex: 1;
                padding: 1em;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                cursor: pointer;

                .label {
                    font-size: 1.1em;
                    font-weight: 100;
                    color: var(--color-surfacelighter);
                }

                &.cancel-button {
                    margin-right: 3em;
                    background-color: var(--color-surfacedark);

                    &:focus, &:hover {
                        background-color: var(--color-surface);
                    }
                }

                &.install-button {
                    background-color: var(--color-signal5);

                    &:focus, &:hover {
                        background-color: var(--color-signal560);
                    }
                }
            }
        }

        >:not(:last-child) {
            margin-bottom: calc(var(--spacing) * 0.5);
        }
    }
}