.player-container, :global(.player-popup-container) {
    --control-bar-button-size: 60px;
}

.player-container {
    position: relative;
    z-index: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;

    .layer {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 0;

        &.control-bar-layer {
            top: initial;
        }
    }

    :global(.subtitles) {
        bottom: calc(var(--control-bar-button-size) * 3) !important;
    }
}