.video-placeholder-container {
    height: 3rem;
    padding: 0.5rem;
    background-color: var(--color-surfacedarker60);

    .info-container {
        width: 100%;
        height: 2rem;
        background-color: var(--color-surfacedarker40);
    }
}