.video-placeholder-container {
    padding: 0.5rem;
    background-color: var(--color-surfacedarker60);

    .info-container {
        height: 3rem;
        background-color: var(--color-surfacedarker40);
    }
}