.modal-container {
    display: flex;
    flex-flow: column;
    background-color: var(--color-backgrounddark40);

    .modal-dialog-container {
        position: relative;
        padding: 1rem;
        background-color: var(--color-surfacelighter);
        margin: auto;

        * {
            overflow: visible;
        }

        .close-button {
            display: flex;
            flex-direction: row;
            align-items: center;
            position: absolute;
            top: .2rem;
            right: .2rem;
            width: 2rem;
            height: 2rem;

            .x-icon {
                flex: 1 0 0;
                width: 1rem;
                height: 1rem;
                fill: var(--color-surfacedark);
            }

            &:hover {
                background-color: var(--color-surfacelight);

                .x-icon {
                    fill: var(--color-signal2);
                }
            }

            &:focus {
                .x-icon {
                    fill: var(--color-signal2);
                }
            }
        }

        h1 {
            font-size: 1.2rem;
        }

        .modal-dialog-content {
            margin: 1rem auto 0 auto;
        }

        .modal-dialog-buttons {
            margin: -.5rem;
            margin-top: 1rem;
            display: flex;
            flex-flow: row;
        }

    }
}

.action-button {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1 0 0;
    text-align: center;
    color: var(--color-surfacelighter);
    background-color: var(--color-signal5);
    padding: 1rem;
    margin: .5rem;

    &:hover {
        background-color: var(--color-signal580);
    }

    &:focus {
        outline: 3px solid var(--color-surfacelighter);
        outline-offset: -4px;

    }

    &:global(.disabled) {
        color: var(--color-surfacedarker);
        background-color: var(--color-surfacedark);
    }

    .icon {
        fill: var(--color-surfacelighter);
        width: 1rem;
        height: 1rem;
        margin-right: .5rem;
    }
}