.vertical-nav-bar-container {
    width: var(--vertical-nav-bar-size);
    padding: 1rem 0;
    background-color: var(--color-backgroundlighter);
    overflow-y: auto;
    scrollbar-width: none;

    &::-webkit-scrollbar {
        display: none;
    }

    .nav-tab-button {
        width: var(--vertical-nav-bar-size);
        height: var(--vertical-nav-bar-size);
    }
}