@import 'stremio-colors';

@control-bar-height: 84px;
@seek-slider-height: 26px;
@buttons-bar-height: (@control-bar-height - @seek-slider-height);

.control-bar-container {
    height: @control-bar-height;

    .time-slider {
        height: @seek-slider-height;

        .time-thumb {
            width: @seek-slider-height;
            height: @seek-slider-height;
        }
    }

    .buttons-bar-container {
        height: @buttons-bar-height;

        .button {
            height: @buttons-bar-height;
            width: @buttons-bar-height;
        }

        .time-label {
            font-size: 16px;
        }

        .separator {
            width: 1px;
            margin-left: floor((@buttons-bar-height * 0.25));
            margin-right: floor((@buttons-bar-height * 0.25));
        }
    }
}

.volume-slider-container {
    padding: ceil((@buttons-bar-height * 0.4)) 0;
    width: @buttons-bar-height;

    .volume-slider {
        width: floor((@buttons-bar-height * 0.4));
        height: floor((@buttons-bar-height * 3));

        .volume-thumb {
            width: floor((@buttons-bar-height * 0.4));
            height: floor((@buttons-bar-height * 0.4));
        }
    }
}

.control-bar-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    top: initial !important;
    padding-left: 2%;
    padding-right: 2%;

    .time-slider {
        width: 100%;
    }

    .buttons-bar-container {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;

        .button {
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;

            .icon {
                width: 60%;
                height: 60%;
                fill: @colorwhite80;
            }

            &.active {
                background-color: @colorbgmain;

                .icon {
                    fill: @colorwhite;
                }
            }

            &:hover {
                .icon {
                    fill: @colorwhite;
                }
            }
        }

        .separator {
            height: 70%;
            background-color: @colorneutrallight80;
        }

        .time-label {
            color: @colorwhite;
        }

        .spacing {
            flex: 1
        }
    }
}

.volume-slider-container {
    display: flex;
    justify-content: center;
    background-color: @colorbgmain;
}