.control-bar-container, .popup-container {
    --control-bar-button-height: 60px;
}

.control-bar-container {
    padding: 0 calc(var(--control-bar-button-height) * 0.4);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: stretch;
    overflow: hidden;

    .seek-bar {
        --seek-bar-thumb-size: calc(var(--control-bar-button-height) * 0.4);
        height: var(--seek-bar-thumb-size);
    }

    .control-bar-buttons-container {
        height: var(--control-bar-button-height);
        display: flex;
        flex-direction: row;
        align-items: center;

        .control-bar-button {
            width: var(--control-bar-button-height);
            height: var(--control-bar-button-height);
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;

            .icon {
                width: 60%;
                height: 60%;
                fill: var(--color-surfacelight);
                overflow: visible;
            }

            &.active {
                background-color: var(--color-backgrounddarker);

                .icon {
                    fill: var(--color-surfacelighter);
                }
            }

            &:hover {
                .icon {
                    fill: var(--color-surfacelighter);
                }
            }
        }

        .volume-bar {
            --volume-bar-thumb-size: calc(var(--control-bar-button-height) * 0.3);
            height: var(--control-bar-button-height);
            width: calc(var(--control-bar-button-height) * 4);

            &:hover, &.active {
                .control-bar-button {
                    .icon {
                        fill: var(--color-surfacelighter);
                    }
                }
            }
        }

        .flex-spacing {
            flex: 1
        }
    }

    &::after {
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: -1;
        box-shadow: 0 0 calc(var(--control-bar-button-height) * 2) calc(var(--control-bar-button-height) * 2.3) var(--color-backgrounddarker);
        content: "";
    }
}

.popup-container {
    --border-color: var(--color-primarylight);

    .popup-content {
        background-color: var(--color-backgrounddark);

        &.share-popup-content {
            width: calc(var(--control-bar-button-height) * 5);
            height: calc(var(--control-bar-button-height) * 3);
        }

        &.subtitles-popup-content {
            --subtitles-picker-button-size: calc(var(--control-bar-button-height) * 0.6);
        }
    }
}