@import "stremio-colors";

* {
	margin: 0px;
	padding: 0px;
	border: none;
	list-style: none;
    user-select: none;
}

body, html {
    height: 100%;
	cursor: default;
	overflow: hidden;
	-webkit-font-smoothing: subpixel-antialiased;
	background-color: @colorbgmain;
}
