@import (inline, once, css) 'stremio-colors.css';

@font-face {
    font-family: 'Roboto';
    src: url('/fonts/Roboto-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('/fonts/Roboto-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('/fonts/Roboto-RegularItalic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto';
    src: url('/fonts/Roboto-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('/fonts/Roboto-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('/fonts/Roboto-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

:global {
    * {
        margin: 0px;
        padding: 0px;
        border: none;
        list-style: none;
        user-select: none;
        box-sizing: border-box;
        text-decoration: none;
        font-weight: normal;
    }

    html, body, #app, .modal-container {
        position: relative;
        width: 100vw;
        height: 100vh;
        min-width: 1000px;
        min-height: 650px;
        font-family: 'Roboto', 'sans-serif';
        line-height: 1;

        ::-webkit-scrollbar {
            width: 8px;
        }

        ::-webkit-scrollbar-thumb {
            background-color: var(--color-secondarylighter80);
        }

        ::-webkit-scrollbar-track {
            background-color: var(--color-backgroundlight);
        }
    }

    #app {
        z-index: 0;
        overflow: hidden;
    }

    .modal-container {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        overflow: hidden;
    }
}

.route-container {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0;
    overflow: hidden;
    background-color: var(--color-background);
}