.share-prompt-container {
    min-width: 18rem;
    background: var(--color-surfacelighter);

    .buttons-container {
        display: flex;
        flex-direction: row;

        .button-container {
            flex-grow: 0;
            flex-shrink: 1;
            flex-basis: 14rem;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            padding: 1rem;

            &:not(:last-child) {
                margin-right: 1rem;
            }

            &:hover {
                filter: brightness(1.2);
            }

            &:focus {
                outline: calc(1.5 * var(--focus-outline-size)) solid var(--color-surfacelighter);
                outline-offset: calc(-2 * var(--focus-outline-size));
            }

            .icon {
                flex: none;
                height: 1.2rem;
                margin-right: 1rem;
                fill: var(--color-surfacelighter);
            }

            .label {
                flex-grow: 0;
                flex-shrink: 1;
                flex-basis: auto;
                max-height: 2.4em;
                font-size: 0.9rem;
                font-weight: 500;
                text-align: center;
                color: var(--color-surfacelighter);
            }
        }

        .facebook-button {
            background-color: var(--color-facebook);
        }

        .twitter-button {
            background-color: var(--color-twitter);
        }
    }

    .url-container {
        display: flex;
        flex-direction: row;
        margin-top: 1rem;
        border: thin solid var(--color-surface);

        .url-text-input {
            flex: 1;
            align-self: stretch;
            padding: 1rem;
            color: var(--color-backgroundlighter);
            text-align: center;
            border-right: thin solid var(--color-surface);
        }

        .copy-button {
            flex: none;
            align-self: stretch;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            width: 8rem;
            padding: 0.5rem;
            background-color: var(--color-surface);

            &:hover {
                filter: brightness(1.2);
            }

            &:focus {
                outline: calc(1.5 * var(--focus-outline-size)) solid var(--color-surfacelighter);
                outline-offset: calc(-1.5 * var(--focus-outline-size));
            }

            .icon {
                flex: none;
                width: 1.2rem;
                height: 1.2rem;
                margin-right: 0.5rem;
                fill: var(--color-surfacedarker);
            }

            .label {
                flex-grow: 0;
                flex-shrink: 1;
                flex-basis: auto;
                max-height: 2.4em;
                color: var(--color-surfacedarker);
            }
        }
    }
}