@import (reference) '~stremio-colors/dist/less/stremio-colors.less';

.horizontal-nav-bar-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: var(--horizontal-nav-bar-size);
    background-color: @color-background-dark1;
    overflow: visible;

    .logo-container {
        flex: none;
        display: flex;
        align-items: center;
        justify-content: center;
        width: var(--vertical-nav-bar-size);
        height: var(--horizontal-nav-bar-size);

        .logo {
            flex: none;
            width: 70%;
            height: 70%;
            object-position: center;
            object-fit: contain;
        }
    }

    .title {
        flex: 1;
        padding: 0 1rem;
        font-size: 1.1rem;
        font-style: normal;
        font-weight: 500;
        white-space: nowrap;
        text-overflow: ellipsis;
        color: @color-secondaryvariant2-light1;

        &+.spacing {
            display: none;
        }
    }

    .spacing {
        flex: 1;
    }

    .search-bar {
        flex-grow: 0;
        flex-shrink: 1;
        flex-basis: 25rem;
        min-width: 9.5rem;

        &+.spacing {
            max-width: 11rem;
        }
    }

    .button-container {
        flex: none;
        display: flex;
        align-items: center;
        justify-content: center;
        width: var(--horizontal-nav-bar-size);
        height: var(--horizontal-nav-bar-size);

        &.back-button-container {
            width: var(--vertical-nav-bar-size);
            height: var(--horizontal-nav-bar-size);
        }

        &:hover {
            background-color: @color-background;
        }

        &:global(.active) {
            background-color: @color-background-dark2;
        }

        .icon {
            flex: none;
            width: 1.8rem;
            height: 1.8rem;
            fill: @color-secondaryvariant2-light1;
        }
    }
}