.horizontal-nav-bar-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: var(--horizontal-nav-bar-size);
    background-color: var(--color-secondarydark);
    overflow: visible;

    .logo-container, .back-button-container {
        display: flex;
        align-items: center;
        justify-content: center;
        width: var(--vertical-nav-bar-size);
        height: var(--horizontal-nav-bar-size);
    }

    .logo-container {
        .logo {
            flex: none;
            width: 70%;
            height: 70%;
            object-position: center;
            object-fit: contain;
        }
    }

    .back-button-container {
        &:hover {
            background-color: var(--color-secondary);
        }

        .icon {
            flex: none;
            width: 50%;
            height: 50%;
            fill: var(--color-surfacelighter);
        }
    }

    .title {
        flex: 1;
        padding: 0 1rem;
        font-size: 1.1rem;
        font-style: normal;
        font-weight: 400;
        white-space: nowrap;
        text-overflow: ellipsis;
        color: var(--color-surfacelighter);

        &+.spacing {
            display: none;
        }
    }

    .spacing {
        flex: 1;
    }

    .search-bar {
        flex-grow: 0;
        flex-shrink: 1;
        flex-basis: 25rem;
        align-self: stretch;
        min-width: 9.5rem;

        &+.spacing {
            max-width: 11rem;
        }
    }

    .addons-button, .fullscreen-button, .notifications-menu, .nav-menu {
        flex: none;
        width: var(--horizontal-nav-bar-size);
        height: var(--horizontal-nav-bar-size);
    }
}