.share-modal {
    --share-modal-width: 380px;
    --spacing: 22px;
    font-size: 14px;
}

.share-modal {
    padding: calc(var(--spacing) * 0.5);
    width: var(--share-modal-width);
    color: var(--color-surfacelighter);
    background-color: var(--color-surfacelighter);

    .x-container {
        display: flex;
        justify-content: flex-end;

        .x-icon {
            width: calc(var(--spacing) * 0.5);
            height: calc(var(--spacing) * 0.5);
            background-position: center;
            background-repeat: no-repeat;
            cursor: pointer;
        }
    }

    .info-container {
        padding: calc(var(--spacing) * 0.2) calc(var(--spacing) * 0.9) calc(var(--spacing) * 1.2) calc(var(--spacing) * 0.9);

        .share-label {
            font-size: 1.1em;
            color: var(--color-backgrounddarker);
        }

        .buttons {
            padding: var(--spacing) 0;
            display: flex;
            justify-content: space-between;
    
            .facebook-button, .twitter-button, .gplus-button {
                width: calc(var(--share-modal-width) * 0.26);
                height: calc(var(--share-modal-width) * 0.09);
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 0.8em;
                color: var(--color-surfacelighter);
                cursor: pointer;

                .icon {
                    margin-right: calc(var(--spacing) * 0.3);
                    width: calc(var(--spacing) * 0.7);
                    height: calc(var(--spacing) * 0.7);
                    fill: var(--color-surfacelighter);
                }
            }

            .facebook-button {
                background-color: var(--color-secondary);
            }

            .twitter-button {
                background-color: var(--color-secondarylighter);
            }

            .gplus-button {
                background-color: var(--color-signal2);
            }
        }

        .url-container {
            display: flex;
            border-radius: 4px;
            border: 1px solid var(--color-surface);

            .url {
                padding: calc(var(--spacing) * 0.5);
                width: 75%;
                font-size: 0.9em;
                text-align: center;
                text-overflow: ellipsis;
                border-radius: 4px;
                color: var(--color-surfacedark);
                outline: none;
            }

            .copy-label {
                padding: calc(var(--spacing) * 0.5);
                width: 25%;
                display: flex;
                justify-content: center;
                border-top-right-radius: 3px;
                border-bottom-right-radius: 3px;
                color: var(--color-surfacedark);
                background-color: var(--color-surfacelight);
                cursor: pointer;

                .copy-icon {
                    margin-right: calc(var(--spacing) * 0.3);
                    width: calc(var(--spacing) * 0.7);
                    height: calc(var(--spacing) * 0.7);
                    fill: var(--color-backgrounddarker40);
                }
            }
        }
    }
}