.share-modal {
    --share-modal-width: 380px;
    --spacing: 22px;
    font-size: 14px;
}

.share-modal {
    padding: calc(var(--spacing) * 0.5);
    width: var(--share-modal-width);
    color: var(--color-surfacelighter);
    background-color: var(--color-surfacelighter);

    .x-container {
        display: flex;
        justify-content: flex-end;

        .x-icon {
            width: calc(var(--spacing) * 0.5);
            height: calc(var(--spacing) * 0.5);
            background-position: center;
            background-repeat: no-repeat;
            cursor: pointer;
        }
    }

    .info-container {
        padding: calc(var(--spacing) * 0.2) calc(var(--spacing) * 0.9) calc(var(--spacing) * 1.2) calc(var(--spacing) * 0.9);

        .share-label {
            font-size: 1.1em;
            color: var(--color-backgrounddarker);
        }

        .buttons {
            padding: var(--spacing) 0;
            display: flex;
            flex-direction: row;
    
            .button {
                flex: 1;
                height: calc(var(--share-modal-width) * 0.09);
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                font-size: 0.8em;
                color: var(--color-surfacelighter);
                cursor: pointer;

                .icon {
                    margin-right: calc(var(--spacing) * 0.3);
                    width: calc(var(--spacing) * 0.7);
                    height: calc(var(--spacing) * 0.7);
                    fill: var(--color-surfacelighter);
                }

                &:focus, &:hover {
                    filter: brightness(1.2);
                }

                &:not(:last-child) {
                    margin-right: 1em;
                }
            }

            .facebook-button {
                background-color: var(--color-secondary);
            }

            .twitter-button {
                background-color: var(--color-secondarylighter);
            }
        }

        .url-container {
            display: flex;
            flex-direction: row;
            border: calc(var(--focusable-border-size) * 0.5) solid var(--color-surface);

            .url {
                padding: calc(var(--spacing) * 0.5);
                width: 75%;
                font-size: 0.9em;
                text-align: center;
                text-overflow: ellipsis;
                color: var(--color-surfacedark);
            }

            .copy-button {
                padding: calc(var(--spacing) * 0.5);
                width: 25%;
                display: flex;
                flex-direction: row;
                justify-content: center;
                background-color: var(--color-surface);
                cursor: pointer;

                .icon {
                    margin-right: calc(var(--spacing) * 0.3);
                    width: calc(var(--spacing) * 0.7);
                    height: calc(var(--spacing) * 0.7);
                    fill: var(--color-surfacedarker);
                }

                .label {
                    color: var(--color-surfacedarker);
                }

                &:hover {
                    background-color: var(--color-surface60);
                }
            }
        }
    }
}