@import 'stremio-colors';
.nav-bar {
    height: 44px;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: @colorsecondary;
    .nav-tabs {
        height: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .nav-title {
        color: @colorwhite;
        font-size: 16px;
        padding: 0 10px;
    }
}