.nav-bar {
    --nav-bar-height: 44px;
    font-size: 16px;

    .tabs-container {
        .nav-bar-button {
            &:nth-child(n+5) {
                display: none;
            }
        }
    }
}

.nav-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: var(--nav-bar-height);
    background-color: var(--color-secondarydark);
    overflow: hidden;

    .tabs-container {
        flex: none;
        display: flex;
        flex-direction: row;
    }

    .nav-bar-button {
        max-width: calc(var(--nav-bar-height) * 3.5);
        height: var(--nav-bar-height);
    }

    .title {
        flex: 1;
        height: 1em;
        padding: 0 0.6em;
        color: var(--color-surfacelighter);
        font-size: 1.1em;
        font-style: normal;
        font-weight: normal;
        word-break: break-all;
        overflow: hidden;
    }

    .search-input {
        flex: 1;
        height: var(--nav-bar-height);
    }

    .user-menu {
        width: var(--nav-bar-height);
        height: var(--nav-bar-height);
    }
}