@import 'stremio-colors';

@stream-width: 340px;
@play-width: ceil((@stream-width * 0.13));
@progress-height: 3px;

.stream-container {
    width: @stream-width;

    .stream {
        min-height: round((@stream-width * 0.2));

        .source-name {
            font-size: 13px;
        }

        .text-container {
            line-height: 15px;

            .title {
                font-size: 11px;
            }

            .subtitle {
                font-size: 11px;
            }
        }

        .play-container {
            height: @play-width;
            width: @play-width;
        }
    }

    .progress {
        height: @progress-height;
    }
}

.stream-container {
    margin: 10px; //remove
    background-color: @colorblack20;

    .stream {
        display: flex;
        align-items: center;
        justify-content: space-around;

        .logo {
            width: 20%;
            fill: @colorwhite;
        }

        .source-name {
            display: flex;
            justify-content: center;
            width: 20%;
            color: @colorwhite;
            overflow: hidden;
            white-space: pre;
            text-overflow: ellipsis;
        }

        .text-container {
            width: 45%;
            padding: 2% 0%;

            .title {
                color: @colorwhite;
                word-break: break-word;
            }

            .subtitle {
                color: @colorwhite;
                word-break: break-word;
            }
        }

        .play-container {
            display: flex;

            .play {
                width: 38%;
                height: 38%;
                margin: auto;
                fill: @colorwhite60;
            }
        }
    }

    .progress-container {
        background-color: @colorneutral;

        .progress {
            height: @progress-height;
            background-color: @colorprimlight;
        }
    }

    &:hover {
        cursor: pointer;
        background-color: @colorwhite20;
    }
}