.pagination-input-container {
    display: flex;
    flex-direction: row;

    .prev-button-container, .next-button-container {
        flex: none;
        display: flex;
        align-items: center;
        justify-content: center;

        .icon {
            display: block;
            width: 40%;
            height: 40%;
            fill: var(--color-surfacelighter);
        }
    }

    .label-container {
        flex: 1;
        align-self: stretch;
        display: flex;
        align-items: center;
        justify-content: center;

        .label {
            flex: none;
            max-width: 3rem;
            white-space: nowrap;
            text-overflow: ellipsis;
            color: var(--color-surfacelighter);
        }
    }
}