.buffering-loader-container {
    display: flex;
    align-items: center;
    justify-content: center;

    .bufferring-loader {
        width: calc(var(--control-bar-button-size) * 3);
        height: calc(var(--control-bar-button-size) * 3);
    }
}