.meta-preview-container {
    position: relative;
    z-index: 0;
    display: flex;
    flex-direction: column;
    background-color: var(--color-backgrounddarker);

    &.compact {
        .meta-info {
            .logo {
                width: 100%;
                object-position: center;
            }

            .duration-release-info-container {
                justify-content: space-evenly;

                .duration, .release-info {
                    margin: 1rem 0.4rem;
                }
            }
        }

        .action-buttons-container {
            justify-content: space-evenly;
            padding: 0;
        }
    }

    .background-image-layer {
        position: absolute;
        top: -10px;
        right: -10px;
        bottom: -10px;
        left: -10px;
        z-index: -1;

        .background-image {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
            opacity: 0.8;
            filter: blur(5px);
        }
    }

    .meta-info {
        flex: 1;
        align-self: stretch;
        padding: 0 1rem;
        overflow-y: auto;

        .logo {
            display: block;
            max-width: 100%;
            height: 7rem;
            margin: 1rem 0;
            object-fit: contain;
            object-position: left center;
            background-color: var(--color-surfacedarker20);
        }

        .duration-release-info-container {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            margin: 1rem 0;

            .duration, .release-info {
                flex-grow: 0;
                flex-shrink: 1;
                margin: 1rem 1rem 1rem 0;
                text-align: center;
                color: var(--color-surfacelighter);
            }
        }

        .name-container {
            margin: 1rem 0;
            font-size: 1.4rem;
            color: var(--color-surfacelighter);
        }

        .description-container {
            margin: 1rem 0;
            color: var(--color-surfacelighter);
        }

        .meta-links {
            margin: 1rem 0;
        }
    }

    .action-buttons-container {
        flex: none;
        align-self: stretch;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        padding: 0 1rem;

        .action-button {
            flex: none;
            width: 6rem;
            height: 6rem;
            margin: 1rem 0;
        }
    }
}