.meta-preview-container {
    position: relative;
    z-index: 0;
    display: flex;
    flex-direction: column;
    background-color: var(--color-backgrounddarker);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-origin: border-box;

    &::before {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: -1;
        display: block;
        background-color: var(--color-backgrounddarker60);
        content: "";
    }

    &.compact {
        min-width: 20em;

        .meta-preview-content {
            overflow-y: auto;

            .logo {
                width: 100%;
                object-position: center;
            }

            .duration-release-info-container {
                justify-content: space-evenly;

                .duration, .release-info {
                    margin-left: 0.4em;
                    margin-right: 0.4em;
                }
            }
        }

        .action-buttons-container {
            justify-content: space-evenly;
            padding: 0;
        }
    }

    .meta-preview-content {
        flex: 1;
        align-self: stretch;
        padding: 0.8em;
        color: var(--color-surfacelighter);

        .logo {
            display: block;
            max-width: 100%;
            height: 7em;
            margin-bottom: 0.8em;
            object-fit: contain;
            object-position: left center;
            background-color: var(--color-surfacedarker40)
        }

        .duration-release-info-container {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            flex-wrap: wrap;

            .duration, .release-info {
                flex-grow: 0;
                flex-shrink: 1;
                max-width: 100%;
                margin-bottom: 0.8em;
                margin-right: 0.8em;
                text-align: center;
                overflow: visible;
            }
        }

        .name-container {
            margin-bottom: 0.8em;
            overflow: visible;

            .name {
                font-size: 1.3em;
                overflow: visible;
            }
        }

        .description-container {
            margin-bottom: 0.8em;
            overflow: visible;

            .description {
                font-size: 0.9em;
                overflow: visible;
            }
        }

        .links-label {
            font-size: 1.1em;
            line-height: 1.1em;
            color: var(--color-surfacelight);
            overflow: visible;
        }

        .links-container {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            margin-bottom: 0.8em;

            .link {
                flex-grow: 0;
                flex-shrink: 1;
                max-width: 100%;
                margin-right: 0.4em;
                font-size: 0.9em;
                line-height: 1.2em;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
                color: var(--color-surfacelighter);

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }

    .action-buttons-container {
        flex: none;
        align-self: stretch;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        flex-wrap: wrap;
        padding: 0 0.8em;

        .action-button {
            flex: none;
            width: 6em;
            height: 6em;
            margin: 0.8em 0;
            cursor: pointer;

            &:hover {
                background-color: var(--color-surfacedarker60);
            }

            .icon {
                display: block;
                width: 100%;
                height: 3em;
                padding-top: 0.8em;
                fill: var(--color-surfacelighter);
            }

            .label-container {
                display: flex;
                flex-direction: row;
                align-items: center;
                width: 100%;
                height: 3em;
                padding: 0 0.2em;

                .label {
                    flex: 1;
                    max-height: 2.2em;
                    font-size: 0.9em;
                    line-height: 1.1em;
                    text-align: center;
                    color: var(--color-surfacelighter);
                }
            }
        }
    }
}