
.root-container {
    padding: 1px;
    display: inline-block;
    .content-container {
        display: flex;
        flex-direction: column;
        cursor: pointer;
        .poster {
            width: 100%;
            display: flex;
            align-items: flex-end;
            background-size: cover, auto;
            background-repeat: no-repeat;
            background-position: center;
            background-origin: border-box;
            background-color: var(--color-backgrounddark);
            .in-cinema-container {
                width: 100%;
                height: 26px;
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: var(--color-primary);
                .in-cinema-icon {
                    height: 100%;
                    width: 12px;
                    fill: var(--color-surfacelighter);
                    margin-right: 6px;
                }
                .in-cinema-label {
                    font-size: 13px;
                    text-transform: uppercase;
                    color: var(--color-surfacelighter);
                }
            }
        }
        .name, .year {
            width: 100%;
            display: inline-block;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        .name {
            font-size: 12px;
           color: var(--color-surfacelighter);
        }
        .year {
            font-size: 11px;
            color: var(--color-surfacelighter80);
        }
    }
    &:hover {
       background: var(--color-surfacelighter);
        .name {
           color: var(--color-backgrounddarker);
        }
        .year {
           color: var(--color-surface);
        }
    }
}