@import 'stremio-colors';
.addon {
    width: 550px;
    padding: 18px;
    font-size: 12px;
    color: @colorwhite;
    font-family: LatoLight;
    background-color: @colorglass;
    .info-container {
        height: 80px;
        display: flex;
        margin-bottom: 26px;
        .logo-container {
            width: 80px;
            height: 80px;
            display: flex;
            margin-right: 14px;
            background-color: @colordarkest;
            .logo {
                width: 40px;
                margin: auto;
                fill: @colorwhite;
            }
        }
        .info {
            width: 420px;
            .name {
                font-size: 20px;
                margin-right: 10px;
            }
            .version {
                margin-right: 10px;
                color: @colorwhite60;
            }
            .type {
                color: @coloraccent;
            }
            .type, .description {
                margin-top: 2px;
            }
        }
    }
    .urls-container {
        display: flex;
        flex-direction: column;
        .url {
            color: @colorwhite60;
        }
    }
    .buttons {
        display: flex;
        margin-top: 26px;
        justify-content: space-between;
        .share-container {
            border: 2px solid @coloraccent;
            .share-icon {
                width: 18px;
                margin-right: 6px;
                fill: @coloraccent;
            }
            .share-label {
                color: @coloraccent;
            }
        }
        .share-container, .install-label, .uninstall-label {
            width: 230px;
            display: flex;
            cursor: pointer;
            font-weight: 600;
            font-size: larger;
            padding: 10px 0px;
            align-items: center;
            justify-content: center;
        }
        .install-label {
            border: 2px solid @colorsignal5;
            background-color: @colorsignal5;
        }
        .uninstall-label {
            border: 2px solid @colorwhite20;
        }
    }
}