.color-input-container {
    display: flex;
    padding: 10px;
    background-color: #000;
    flex-direction: row;

    .buttons-container {
        padding-left: 1rem;
        flex-grow: .5;
    }
}