@import (reference) '~stremio-colors/dist/less/stremio-colors.less';

:import('~stremio/common/Multiselect/styles.less') {
    multiselect-menu-container: menu-container;
}

:import('~stremio/common/ModalDialog/styles.less') {
    cancel-button-label: label;
}

.addons-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: @color-background-dark2;

    .nav-bar {
        flex: none;
        align-self: stretch;
    }

    .addons-content {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-self: stretch;

        .selectable-inputs-container {
            flex: none;
            align-self: stretch;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            padding: 1.5rem 3rem;
            overflow: visible;

            .selectable-inputs {
                flex: 1;
                display: flex;
                flex-direction: row;
                margin-right: 1.5rem;
                overflow: visible;

                .add-button-container {
                    flex: none;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: center;
                    width: 10rem;
                    height: 3.5rem;
                    margin-right: 1.5rem;
                    padding: 0 1rem;
                    background-color: @color-accent3;

                    &:hover {
                        background-color: @color-accent3-light2;
                    }

                    &:focus {
                        outline-color: @color-surface-light5;
                    }

                    .icon {
                        flex: none;
                        width: 1.2rem;
                        height: 1.2rem;
                        margin-right: 1rem;
                        fill: @color-surface-light5;
                    }

                    .add-button-label {
                        flex-grow: 0;
                        flex-shrink: 1;
                        flex-basis: auto;
                        max-height: 2.4em;
                        font-size: 1.1rem;
                        color: @color-surface-light5;
                    }
                }

                .select-input-container {
                    flex-grow: 0;
                    flex-shrink: 1;
                    flex-basis: 15rem;
                    height: 3.5rem;
                    margin-right: 1.5rem;

                    .multiselect-menu-container {
                        max-height: calc(3.2rem * 7);
                        overflow: auto;
                    }
                }
            }

            .search-bar-container {
                flex-grow: 0;
                flex-shrink: 1;
                flex-basis: 18rem;
                display: flex;
                flex-direction: row;
                align-items: center;
                height: 3.5rem;
                padding: 0 1rem;
                border-radius: 2.3rem;
                border: var(--focus-outline-size) solid transparent;
                background-color: @color-background;
                cursor: text;

                &:hover, &:focus-within {
                    background-color: @color-background-light2;
                }

                &:focus-within {
                    border: var(--focus-outline-size) solid @color-surface-light5;
                }

                .search-input {
                    flex: 1;
                    margin-right: 1rem;
                    font-size: 1.1rem;
                    color: @color-surface-light5;

                    &::placeholder {
                        max-height: 1.2em;
                        opacity: 0.9;
                        color: @color-secondaryvariant1-light1;
                    }
                }

                .icon {
                    flex: none;
                    width: 1.5rem;
                    height: 1.5rem;
                    fill: @color-secondaryvariant1;
                }

            }
        }

        .message-container {
            flex: 1;
            align-self: stretch;
            padding: 0 1.5rem;
            font-size: 2rem;
            color: @color-surface-light5;
        }

        .addons-list-container {
            flex: 1;
            align-self: stretch;
            padding: 0 3rem;
            overflow-y: auto;

            .addon {
                margin-bottom: 1.5rem;
            }
        }
    }
}

.add-addon-modal-container {
    .notice {
        margin-bottom: 1.5rem;
        font-size: 1rem;
        opacity: 0.9;
    }

    .addon-url-input {
        width: 100%;
        padding: 0.8rem;
        color: @color-surface-dark5;
        border: var(--focus-outline-size) solid @color-surface-light2;

        &:hover, &:focus {
            outline-style: solid;
            outline-width: var(--focus-outline-size);
            outline-color: @color-surface-light4;
            outline-offset: calc(-1 * var(--focus-outline-size));
        }

        &:focus {
            outline-color: @color-background-dark5;
        }
    }

    .cancel-button {
        background-color: transparent;

        &:hover {
            background-color: @color-surface-light3;
        }

        &:focus {
            outline-color: @color-background-dark5;
        }

        .cancel-button-label {
            color: @color-surface-dark2;
        }
    }
}

.share-modal-container {
    .title-container {
        display: flex;
        flex-direction: row;
        align-items: center;

        .logo, .icon {
            flex: none;
            float: left;
            width: 5rem;
            height: 5rem;
            margin-right: 1rem;
            padding: 0.5rem;
        }

        .logo {
            object-fit: contain;
            object-position: center;
        }

        .icon {
            fill: @color-secondaryvariant1-light3;
        }

        .name-container {
            display: flex;
            flex-direction: row;
            align-items: baseline;
            width: 100%;

            .name {
                margin-right: 1rem;
                max-width: 80%;
                max-height: 1.2em;
                white-space: pre;
                text-overflow: ellipsis;
                font-size: 2rem;
                font-weight: 300;
                opacity: 0.9;
            }

            .version {
                max-width: 20%;
                max-height: 1.2em;
                white-space: pre;
                text-overflow: ellipsis;
                opacity: 0.6;
            }
        }
    }

    .share-prompt-container {
        margin-top: 1rem;
    }
}