.addons-container {
    --addon-width: 960px;
    --label-width: 196px;
    --label-height: 44px;
    --spacing: 8px;
    --button-border-width: 2px;
    font-size: 14px;
}

.addons-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;

    .side-menu {
        width: calc(var(--label-width) + var(--spacing) * 5.5);
        display: flex;
        flex-direction: column;
        padding: 0 calc(var(--spacing) * 2.5 + var(--button-border-width));
        margin: calc(var(--spacing) * 2.5 + var(--button-border-width)) calc(var(--spacing) * 4.5) calc(var(--spacing) * 2.5 + var(--button-border-width)) 0;
        overflow-y: auto;
        overflow-x: hidden;

        .add-addon-container {
            width: var(--label-width);
            min-height: var(--label-height);
            display: flex;
            align-items: center;
            cursor: pointer;
            margin-top: var(--button-border-width);
            margin-bottom: calc(var(--spacing) * 2.5 + var(--button-border-width));
            padding: calc(var(--spacing) * 1.5);
            background: var(--color-signal5);

            .add-addon-icon {
                flex: 1;
                margin-right: calc(var(--spacing) * 2);
                fill: var(--color-surfacelighter);
            }

            .add-addon-label {
                flex: 8;
                font-size: 1.2em;
                color: var(--color-surfacelighter);
                overflow: hidden;
                white-space: pre;
                text-overflow: ellipsis;
            }

            &:hover {
                background: var(--color-signal560);
            }
        }

        .label {
            width: var(--label-width);
            min-height: var(--label-height);
            cursor: pointer;
            margin-top: var(--button-border-width);
            padding: calc(var(--spacing) * 1.5);
            font-size: 1.2em;
            overflow: hidden;
            white-space: pre;
            text-overflow: ellipsis;
            color: var(--color-surfacelight);

            &.selected {
                color: var(--color-surfacelighter);
                background: var(--color-primarydark);

                &:hover {
                    background: var(--color-primarydark);
                }

                &:focus {
                    outline: none;
                }
            }

            &:hover {
                color: var(--color-surfacelighter);
                background: var(--color-backgroundlighter);
            }

            &:focus {
                outline: var(--button-border-width) solid var(--color-surfacelighter);
            }

            &:nth-child(4) {
                margin-bottom: calc(var(--spacing) * 2.5 + var(--button-border-width));
            }

            &:last-child {
                margin-bottom: var(--button-border-width);
            }
        }
    }

    .scroll-container {
        flex: 1;
        align-self: stretch;
        margin: calc(var(--spacing) * 2.5 + var(--button-border-width)) calc(var(--spacing) * 2.5 + var(--button-border-width)) calc(var(--spacing) * 2.5 + var(--button-border-width)) 0;
        overflow-y: auto;
        overflow-x: hidden;

        >:not(:first-child) {
            margin-top: calc(var(--spacing) * 2.5 + var(--button-border-width));
        }
    }
}