.calendar-container {
    --spacing: 16px;
    --episodes-height: 50px;
    --future-episodes-width: 270px;
    font-size: 14px;
}

.calendar-container {
    padding: var(--spacing);
    height: 100%;
    display: flex;
    flex-direction: row;

    .calendar {
        flex: 1;
        padding-right: calc(var(--spacing) * 0.5);

        .months {
            padding-top: calc(var(--spacing) * 0.5);
            height: 8%;
            text-align: center;

            .month {
                width: 12%;
                display: inline-block;
                font-size: 1.7em;
                line-height: 1.2em;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
                vertical-align: middle;
                color: var(--color-surfacelighter);
                cursor: pointer;

                &:first-child, &:last-child {
                    font-size: 1.4em;
                    color: var(--color-surface);

                    &:hover {
                        color: var(--color-surfacelight);
                    }
                }

                &:not(:first-child):not(:last-child) {
                    margin: 0 var(--spacing);
                }
            }
        }

        .month-days {
            width: 100%;
            height: 92%;
            table-layout: fixed;

            .week-days {
                .day {
                    padding: 0 calc(var(--spacing) * 0.5) calc(var(--spacing) * 0.5) 0;
                    font-size: 1.2em;
                    line-height: 1.2em;
                    text-align: left;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    color: var(--color-secondarylighter);
                }
            }

            .row {
                .day {
                    border: var(--focusable-border-size) solid transparent;
                    background-color: var(--color-backgroundlighter);
                    cursor: pointer;

                    .date-container {
                        margin: calc(var(--spacing) * 0.5);
                        width: calc(var(--episodes-height) * 0.64);
                        height: calc(var(--episodes-height) * 0.64);

                        .date {
                            width: 100%;
                            height: 100%;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            font-size: 1.4em;
                            color: var(--color-secondarylighter);

                            &.selected {
                                border-radius: 50%;
                                color: var(--color-surfacelighter);
                                background-color: var(--color-primary);
                            }
                        }
                    }

                    .episodes {
                        margin: var(--focusable-border-size);
                        height: var(--episodes-height);
                        display: flex;
                        flex-direction: row;

                        .poster {
                            margin-right: var(--focusable-border-size);
                            display: none;
                            width: 25%;
                            height: 100%;
                            background-size: cover;
                            background-repeat: no-repeat;
                            background-position: center;

                            &.past {
                                opacity: 0.4;
                            }

                            &:nth-child(-n+4) {
                                display: block;
                            }
                        }

                        &.small {
                            height: calc(var(--episodes-height) * 0.64);
                        }

                        &.big {
                            height: calc(var(--episodes-height) * 1.54);
                        }
                    }

                    &.selected {
                        border-color: var(--color-primary);
                        background-color: var(--color-backgroundlighter60);
                    }
                }
            }
        }
    }

    .future-episodes {
        padding-right: calc(var(--spacing) * 0.5);
        width: var(--future-episodes-width);
        overflow-y: auto;
        overflow-x: hidden;
        scroll-behavior: smooth;

        .episode-container {
            margin-bottom: calc(var(--spacing) * 0.5);
            border: var(--focusable-border-size) solid var(--color-background);
            background-color: var(--color-backgroundlighter);

            .date {
                padding: var(--spacing);
                font-size: 1.2em;
                color: var(--color-primarylight);
            }

            .episode {
                padding: var(--spacing);
                cursor: pointer;

                .main-info {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;

                    .serie-name {
                        margin-right: 5%;
                        width: 75%;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        color: var(--color-surface);
                    }

                    .episode-number {
                        width: 20%;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        color: var(--color-surface);
                    }
                }

                .name {
                    width: 100%;
                    display: none;
                    padding: calc(var(--spacing) * 0.5) 0 var(--spacing) 0;
                    overflow-wrap: break-word;
                    color: var(--color-surfacelighter);
                }

                .description {
                    display: none;
                    padding: var(--spacing) 0;
                    line-height: 1.2em;
                    color: var(--color-surfacelighter);
                }

                .watch-button-container {
                    display: none;
                    margin: 0 calc(var(--spacing) * 0.5);
                    padding: var(--spacing);
                    border-top: calc(var(--focusable-border-size) * 0.5) solid var(--color-background);
                    cursor: pointer;

                    .watch-button {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        justify-content: center;

                        .icon {
                            margin-right: 8%;
                            width: 8%;
                            fill: var(--color-surfacelight);
                        }

                        .label {
                            max-width: 84%;
                            word-break: break-all; //Firefox doesn't support { break-word }
                            word-break: break-word;
                            color: var(--color-surfacelight);
                        }
                    }

                    &:hover {
                        .watch-button {
                            .icon {
                                fill: var(--color-surfacelighter);
                            }

                            .label {
                                color: var(--color-surfacelighter);
                            }
                        }
                    }
                }

                &.selected {
                    padding-bottom: 0;
                    background-color: var(--color-primarydark);
                    cursor: default;

                    .main-info {
                        .serie-name {
                            white-space: unset;
                            overflow: visible;
                            overflow-wrap: break-word;
                        }

                        .episode-number {
                            white-space: unset;
                            overflow: visible;
                            overflow-wrap: break-word;
                        }
                    }

                    .name {
                        display: block;
                    }

                    .description {
                        display: block;
                    }

                    .watch-button-container {
                        display: block;
                    }

                    &:hover {
                        background-color: var(--color-primarydark);
                    }
                }

                &.today {
                    background-color: var(--color-primarydarker40);
                }

                &:hover {
                    background-color: var(--color-primarydark60);
                }
            }

            &.selected {
                border-color: var(--color-primary);
            }
        }
    }
}