.calendar-container {
    --spacing: 16px;
    font-size: 14px;
}

.calendar-container {
    padding: var(--spacing);
    height: 100%;
    display: flex;
    flex-direction: row;

    .calendar {
        // width: 75%;
        flex: 1;

        .months {
            padding: var(--spacing) calc(var(--spacing) * 2) calc(var(--spacing) * 2) calc(var(--spacing) * 2);
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;

            .month {
                margin-right: var(--spacing);
                font-size: 1.7em;
                color: var(--color-surfacelighter);
                cursor: pointer;

                &:first-child, &:last-child {
                    font-size: 1.4em;
                    color: var(--color-surface);

                    &:hover {
                        color: var(--color-surfacelight);
                    }
                }
            }

        }

        .week-days {
            margin-bottom: var(--spacing);
            display: flex;
            flex-direction: row;

            .day {
                margin: 0 1px 1px 0;
                width: 14%;
                font-size: 1.2em;
                color: var(--color-secondarylighter);
            }
        }

        .month-days {
            height: 100%;

            .pad {
                margin: 0 1px 1px 0;
                width: 14%;
                height: 14%;
                float: left;
            }

            .day {
                margin: 0 1px 1px 0;
                width: 14%;
                height: 16%;
                float: left;
                font-size: 1.4em;
                border: 2px solid transparent;
                background-color: var(--color-backgroundlighter);
                cursor: pointer;

                .date-container {
                    margin: calc(var(--spacing) * 0.5);
                    width: 34px;
                    height: 34px;

                    .date {
                        width: 100%;
                        height: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        color: var(--color-secondarylighter);

                        &.selected {
                            border-radius: 50%;
                            color: var(--color-surfacelighter);
                            background-color: var(--color-primary);
                        }
                    }
                }

                .episodes {
                    margin: 0 2px;
                    height: 42px;
                    display: flex;
                    flex-direction: row;

                    .poster {
                        display: none;
                        width: 33%;
                        height: 100%;
                        background-size: cover;
                        background-repeat: no-repeat;
                        background-position: center;

                        &.past {
                            opacity: 0.4;
                        }

                        &:nth-child(-n+3) {
                            display: inline-block;
                        }
                    }
                }

                &.selected {
                    border-color: var(--color-primary);
                    background-color: var(--color-backgroundlighter60);
                }
            }
        }
    }

    .future-episodes {
        width: 270px;
        // width: 25%;
        // padding: 10px;
        overflow-y: auto;
        overflow-x: hidden;
        scroll-behavior: smooth;

        .episode-container {
            margin-bottom: var(--spacing);
            border: 2px solid transparent;
            background-color: var(--color-backgroundlighter);

            .date {
                padding: var(--spacing);
                font-size: 1.2em;
                color: var(--color-primarylight);
            }

            .episode {
                display: flex;
                flex-direction: column;
                cursor: pointer;

                .info {
                    padding: var(--spacing);
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;

                    .main-info {
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;

                        .serie-name {
                            color: var(--color-surface);
                        }

                        .episode-number {
                            color: var(--color-surface);
                        }
                    }

                    .name {
                        display: none;
                        padding: calc(var(--spacing) * 0.5) 0 var(--spacing) 0;
                        color: var(--color-surfacelighter);
                    }

                    .description {
                        display: none;
                        padding: var(--spacing) 0;
                        line-height: 1.2em;
                        color: var(--color-surfacelighter);
                    }

                    .watch-button-container {
                        display: none;
                        margin: 0 calc(var(--spacing) * 0.5);
                        padding: var(--spacing);
                        border-top: 1px solid var(--color-background);
                        cursor: pointer;

                        .watch-button {
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                            justify-content: center;

                            .icon {
                                margin-right: var(--spacing);
                                width: 6%;
                                height: 6%;
                                fill: var(--color-surfacelighter);
                            }

                            .label {
                                color: var(--color-surfacelighter);
                            }
                        }
                    }
                }

                &.selected {
                    .info {
                        padding-bottom: 0;
                        background-color: var(--color-primarydark);
                        cursor: default;

                        .name {
                            display: inline-block;
                        }

                        .description {
                            display: inline-block;
                        }

                        .watch-button-container {
                            display: inline-block;
                        }
                    }
                }

                &.today {
                    background-color: var(--color-primarydarker40);
                }

                &:hover {
                    background-color: var(--color-primarydark60);
                }
            }

            &.selected {
                border-color: var(--color-primary);
            }
        }
    }
}