:import('~stremio/common/Checkbox/styles.less') {
    checkbox-icon: icon;
}

.consent-checkbox-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0.5rem;

    &:focus {
        outline: none;
        background-color: var(--color-surface-light5-20);
    }

    .checkbox-icon {
        flex: none;
        width: 1.2rem;
        height: 1.2rem;
        fill: var(--color-surface-dark5);
    }

    .label {
        flex: 1;
        margin-left: 0.5rem;
        font-size: 0.9rem;
        color: var(--color-surface);

        .link {
            font-size: 0.9rem;
            color: var(--color-surface-light5);

            &:hover {
                text-decoration: underline;
            }
        }
    }
}