.consent-checkbox-container {
    --icon-size: 1.2em;
    --icon-color: var(--color-surface);
    --icon-background-color: transparent;

    padding: calc(var(--spacing) * 0.5);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    .label {
        flex: 1;
        margin-left: calc(var(--spacing) * 0.5);
        line-height: 1.2em;
        color: var(--color-surface);

        .link {
            line-height: 1.2em;
            color: var(--color-surfacelight);
        }
    }

    &:global(.checked) {
        --icon-color: var(--color-surfacelight);
        --icon-background-color: var(--color-primary);
    }

    &:focus-within, &:hover {
        --icon-color: var(--color-surfacelighter);

        .label {
            color: var(--color-surfacelight);

            .link {
                color: var(--color-surfacelighter);
            }
        }
    }
}