@import 'stremio-colors';

.root {
    cursor: pointer;

    &.checkbox-checked {
        background-color: @colorprimlight;
    }

    &.checkbox-disabled {
        opacity: 0.5;
        cursor: not-allowed;
    }

    .icon {
        width: 100%;
        height: 100%;
        margin: auto;
        fill: @colorwhite60;

        &.checked {
            padding: 10%;
            fill: @colorwhite;
        }
    }
}