.checkbox-container {
    &:global(.checked) {
        .icon-container {
            padding: calc(0.1 * var(--icon-size));
        }
    }

    .icon-container {
        width: var(--icon-size);
        height: var(--icon-size);
        background-color: var(--icon-background-color);

        .icon {
            display: block;
            width: 100%;
            height: 100%;
            fill: var(--icon-color);
        }
    }
}