@share-addon-width: 380px;
@spacing: floor((@share-addon-width * 0.06));

.share-addon {
    width: @share-addon-width;
    padding: ceil((@spacing * 0.5));

    .x-icon {
        width: ceil((@spacing * 0.5));
        height: ceil((@spacing * 0.5));
    }

    .info-container {
        padding: floor((@spacing * 0.3)) ceil((@spacing * 0.9)) @spacing ceil((@spacing * 0.9));

        .buttons {
            padding: @spacing 0;
        }

        .facebook-button, .twitter-button, .gplus-button {
            width: ceil((@share-addon-width * 0.26));
            height: floor((@share-addon-width * 0.09));

            .facebook-icon, .twitter-icon, .gplus-icon {
                width: ceil((@spacing * 0.6));
                height: ceil((@spacing * 0.6));
                margin-right: floor((@spacing * 0.3));
            }
        }

        .url-container {
            border-radius: 4px;
            border-width: 1px;

            .url {
                font-size: 12px;
                border-radius: 4px;
                padding: ceil((@spacing * 0.5));
            }

            .copy-label {
                font-size: 14px;
                border-top-right-radius: 3px;
                border-bottom-right-radius: 3px;
                padding: ceil((@spacing * 0.5));

                .copy-icon {
                    width: ceil((@spacing * 0.7));
                    height: ceil((@spacing * 0.7));
                    margin-right: floor((@spacing * 0.3));
                }
            }
        }
    }
}

.share-addon {
    // color: @colorwhite;
    // background-color: @colorwhite;

    .x-container {
        display: flex;
        justify-content: flex-end;

        .x-icon {
            cursor: pointer;
            background-position: center;
            background-repeat: no-repeat;
        }
    }

    .share-label {
        // color: @colorblack;
        font-weight: 500;
    }

    .buttons {
        display: flex;
        font-size: 11px;
        justify-content: space-between;

        .facebook-button, .twitter-button, .gplus-button {
            display: flex;
            cursor: pointer;
            align-items: center;
            justify-content: center;

            .facebook-icon, .twitter-icon, .gplus-icon {
                // fill: @colorwhite;
            }
        }

        .facebook-button {
            // background-color: @colorfb;
        }

        .twitter-button {
            // background-color: @coloraccent;
        }

        .gplus-button {
            // background-color: #dd4b39;
        }
    }

    .url-container {
        display: flex;
        border-style: solid;
        // border-color: @colorneutrallight;

        .url, .copy-label {
            // color: @colorblack40;
        }

        .url {
            width: 75%;
            outline: none;
            font-weight: 600;
            text-align: center;
            text-overflow: ellipsis;
        }

        .copy-label {
            cursor: pointer;
            width: 25%;
            font-weight: 500;
            display: flex;
            justify-content: center;
            // background-color: @colorblack20;

            .copy-icon {
                // fill: @colorblack40;
            }
        }
    }
}