.action-button-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;

    &:hover {
        background-color: var(--color-surfacedarker60);
    }

    .icon {
        flex: none;
        flex-basis: 35%;
        fill: var(--color-surfacelighter);
    }

    .label-container {
        flex: none;
        flex-basis: 50%;
        display: flex;
        flex-direction: row;
        align-items: center;

        .label {
            padding: 0 0.2rem;
            max-height: 2.4em;
            text-align: center;
            color: var(--color-surfacelighter);
        }
    }
}