<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-title" content="Stremio">
    <link rel="icon" type="image/png" sizes="96x96" href="<%= htmlWebpackPlugin.options.faviconsPath %>/icon-96.png">
    <link rel="manifest" href="<%= htmlWebpackPlugin.options.manifestPath %>" />
    <meta name="theme-color" content="<%= htmlWebpackPlugin.options.themeColor %>">
    <link rel="apple-touch-icon" href="<%= htmlWebpackPlugin.options.imagesPath %>/icon_x192.png">
    <title>Stremio - Freedom to Stream</title>
    <%= htmlWebpackPlugin.tags.headTags %>
</head>

<body>
    <div id="app"></div>
    <%= htmlWebpackPlugin.tags.bodyTags %>
    <script src="//www.gstatic.com/cv/js/sender/v1/cast_sender.js?loadCastFramework=1"></script>
</body>

</html>