.popup-modal-container {
    pointer-events: none;

    .menu-container {
        position: absolute;
        pointer-events: auto;
        visibility: hidden;
        overflow: auto;
        box-shadow: 0 1.35rem 2.7rem var(--color-backgrounddarker40),
            0 1.1rem 0.85rem var(--color-backgrounddarker20);
    }
}