.menu-container {
    position: absolute;
    visibility: hidden;

    .scroll-container {
        overflow: auto;
    }
}

.border {
    position: absolute;
    pointer-events: none;

    &-top {
        top: 0;
        right: 0;
        left: 0;
    }

    &-bottom {
        right: 0;
        bottom: 0;
        left: 0;
    }

    &-left {
        top: 0;
        bottom: 0;
        left: 0;
    }

    &-right {
        top: 0;
        right: 0;
        bottom: 0;
    }
}