.stream-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    min-width: 18rem;
    background-color: var(--color-surfacedarker60);

    &:hover, &:focus {
        background-color: var(--color-surfacedarker);
    }

    .thumbnail-container, .addon-name-container {
        flex: none;
        padding: 0.5rem;

        .thumbnail {
            display: block;
            width: 5rem;
            height: 5rem;
            object-fit: contain;
            object-position: center;
        }

        .placeholder-icon {
            display: block;
            width: 5rem;
            height: 5rem;
            fill: var(--color-surfacelight20);
        }

        .addon-name {
            width: 5rem;
            max-height: 3.6em;
            font-size: 1.1rem;
            text-align: center;
            color: var(--color-surfacelighter);
        }
    }

    .info-container {
        flex: 1;
        padding: 0.5rem;

        .addon-name-label {
            font-size: 1.1rem;
            max-height: 3.6em;
            margin-bottom: 0.5rem;
            color: var(--color-surfacelighter);
        }

        .title-label {
            max-height: 3.6em;
            color: var(--color-surfacelighter);
        }
    }

    .play-icon-container {
        flex: none;
        width: 6rem;
        height: 6rem;
        padding: 2rem;

        .play-icon {
            display: block;
            width: 100%;
            height: 100%;
            fill: var(--color-surfacelighter);
        }
    }

    .progress-bar-container {
        flex-grow: 0;
        flex-shrink: 0;
        flex-basis: 100%;
        background-color: var(--color-backgroundlighter);

        .progress-bar {
            height: 0.5rem;
            background-color: var(--color-primary);
        }
    }
}