.toast-item {
    pointer-events: all;
    border: 1px solid;
    border-radius: 3px;
    background-color: var(--color-surfacelighter);
    color: var(--color-backgrounddarker);
    fill: var(--color-backgrounddarker);
    margin-bottom: 1rem;
    overflow: visible;
    display: flex;
    flex-flow: row;

    &.success {
        color: var(--color-signal5);
        fill: var(--color-signal5);
    }

    &.alert {
        color: var(--color-signal3);
        fill: var(--color-signal3);
    }

    &.error {
        color: var(--color-signal2);
        fill: var(--color-signal2);
    }

    .icon-container {
        width: 5rem;
        padding: 1rem;
        padding-right: 0;
        display: flex;
        flex-flow: row;
        flex-shrink: 0;
    }

    .message-container {
        flex-grow: 1;
        padding: 1rem;

        &.clickable {
            cursor: pointer;
        }

        .message-caption {
            font-weight: bold;
        }
    }

    button {
        height: 3rem;
        padding: 1rem;
        flex: 0 0 3rem;
        cursor: pointer;
        &:hover {
            background-color: var(--color-surfacelight);
        }
    }
}
