:import('~stremio/common/PaginationInput/styles.less') {
    pagination-prev-button-container: prev-button-container;
    pagination-next-button-container: next-button-container;
}

.pagination-input {
    flex: none;
    align-self: flex-start;
    display: flex;
    min-width: 8rem;
    max-width: 10rem;
    margin: 1rem;
    background-color: var(--color-backgroundlighter);

    .pagination-prev-button-container, .pagination-next-button-container {
        width: 3rem;
        height: 3rem;
    }
}