
@import 'constants';
.nav-tab {
    height: @nav-bar-height;
    padding: 0 20px;
    display: flex;
    align-items: center;
    .nav-tab-icon {
        height: @nav-bar-height;
        fill: var(--color-surfacelighter80);
        width: 18px;
    }
    .nav-tab-label {
        color: var(--color-surfacelighter80);
        font-size: 15px;
        margin-left: 10px;
    }
    &.active {
       background-color: var(--color-backgrounddark);
    }
    &:hover:not(.active) {
       background-color: var(--color-backgrounddark20);
    }
    &:hover, &.active {
        .nav-tab-icon {
           fill: var(--color-surfacelighter);
        }
        .nav-tab-label {
           color: var(--color-surfacelighter);
        }
    }
}