
@import 'constants';
.nav-tab {
    height: @nav-bar-height;
    padding: 0 20px;
    display: flex;
    align-items: center;
    .nav-tab-icon {
        height: @nav-bar-height;
//        fill: @colorwhite80;
        width: 18px;
    }
    .nav-tab-label {
//        color: @colorwhite80;
        font-size: 15px;
        margin-left: 10px;
    }
    &.active {
//        background-color: @colorbgmain;
    }
    &:hover:not(.active) {
//        background-color: @colordarkest20;
    }
    &:hover, &.active {
        .nav-tab-icon {
//            fill: @colorwhite;
        }
        .nav-tab-label {
//            color: @colorwhite;
        }
    }
}